=semantic_form_for(@message) do |form|
  =form.input :recipient_id, :as => :hidden, :value => @user.id
  =form.input :message_thread_id, :as => :hidden
  =form.input :text, :label => false, :input_html => {:rows => 3, :placeholder => "Send a reply..."}
  =form.commit_button "Send", :button_html => {:class => "btn btn-primary btn-mini pull-right", :id => "new-message-form-submit"}
.clearfix