-content_for :head do
  :javascript
    $(document).ready(function() {
      $('.thread-link').click(function(event) {
        event.preventDefault();
        $('#all-threads').addClass('hide');
        $('#thread-' + event.target.id).removeClass('hide');
      });
      $('.show-all-threads').click(function(event) {
        console.log('hello');
        event.preventDefault();
        $('#all-threads').removeClass('hide');
        $('.thread').addClass('hide');
      });
    });

.ym_messages
  #all-threads
    %ul.unstyled.threads
      -threads.each do |thread|
        %li
          %span.badge=thread.messages.count
          =link_to thread.messages.first.text, "#", :class => "thread-link", :id => "#{thread.id}"
          .thread-participants=thread.participants.collect{|participant| (link_to "#{image_for(participant, '20x20#')} #{participant}".html_safe, participant)}.join(", ").html_safe
          %span.small-info-text
            Last message
            =time_ago_in_words(thread.messages.last.created_at)
            ago

  -threads.each do |thread|
    %div{:id => "thread-#{thread.id}", :class => "thread hide"}
      =render "messages/show", :thread => thread