-content_for :head do
  :javascript
    $(document).ready(function() {
      $('.thread-link').click(function(event) {
        event.preventDefault();
        $('#all-threads').addClass('hide');
        $('#thread-' + event.target.id).removeClass('hide');
      });
      $('.show-all-threads').click(function(event) {
        event.preventDefault();
        $('#all-threads').removeClass('hide');
        $('.thread').addClass('hide');
      });
    });

.ym_messages
  .messages-header
    %h3.message-title
      Messages
  .clearfix
  -if threads.size == 0
    %p.mt-2 You have no messages.
    %p To write a message, go to someone's profile and click the 'Send Message' button.
  -else
    #all-threads
      %ul.unstyled.threads
        -threads.each do |thread|
          %li
            =link_to "#", :class => "thread-link", :id => "#{thread.id}" do
              .message-count
                %span.badge=thread.messages.count
              =thread.messages.first.text.truncate(65)
              %span.small-info-text
                =time_ago_in_words(thread.messages.last.created_at)
                ago
              .thread-participants
                -thread.participants.each do |participant|
                  .thread-participant
                    =image_for(participant, '18x18#')
                    .thread-participant-name
                      =participant
            
      .clearfix      

    -threads.each do |thread|
      %div{:id => "thread-#{thread.id}", :class => "thread hide"}
        =render "messages/show", :thread => thread
        