-content_for :head do
  :javascript
    $(document).ready(function() {
      $('.thread-link').click(function(event) {
        event.preventDefault();
        $('#all-threads').addClass('hide');
        $('#thread-' + event.target.id).removeClass('hide');
      });
      $('.show-all-threads').click(function(event) {
        event.preventDefault();
        $('#all-threads').removeClass('hide');
        $('.thread').addClass('hide');
      });
    });

.ym_messages
  .messages-header
    %h3.message-title
      Messages
    =link_to "#new-message", :'data-toggle' => "modal", :class => "btn new-message-btn" do
      %i.icon-envelope
      New message    
      
  .clearfix
  -if threads.size == 0
    %p.mt-1 You have no messages.
  -else
    #all-threads
      %ul.unstyled.threads
        -threads.each do |thread|
          %li
            =link_to "#", :class => "thread-link", :id => "#{thread.id}" do
              .message-count
                %span.badge=thread.messages.count
              =thread.messages.first.text.truncate(65)
              %span.small-info-text
                =time_ago_in_words(thread.messages.last.created_at)
                ago
              .thread-participants
                -thread.users.each do |user|
                  .thread-participant
                    =image_for(user, '18x18#')
                    .thread-participant-name
                      =user
            
      .clearfix      

    -threads.each do |thread|
      %div{:id => "thread-#{thread.id}", :class => "thread hide"}
        =render "messages/show", :thread => thread
        
