#new-message.modal.hide
  =semantic_form_for(Message.new) do |form|
    .modal-header
      %button.close{:type => 'button', :'data-dismiss' => 'modal'} x
      -if recipient==current_user
        %h3="Send a message"
      -else
        %h3="Send a message to #{recipient}"
    .modal-body
      -if recipient==current_user
        =form.input :recipient_id, :as => :select, :collection => User.all, :input_html => { :class => "chosen recipient", :style => "width: 200px;"}, :label => "To"
        %br
      -else
        =form.input :recipient_id, :as => :hidden, :value => recipient.id
      =form.input :text, :label => false, :input_html => {:rows => 5, :placeholder => "Send a message..."}
    .modal-footer
      =link_to("Cancel", "#", :class => "btn", :'data-dismiss' => 'modal')
      =form.commit_button "Send", :button_html => {:data => {}, :class => "btn btn-primary", :id => "new-message-form-submit"}
