=semantic_form_for(Message.new) do |form|
  =form.input :message_thread_id, :as => :hidden, :value => thread.id
  =form.input :text, :label => false, :input_html => {:rows => 3, :placeholder => "Send a reply..."}
  =form.commit_button "Reply", :button_html => {:class => "btn btn-primary btn-mini pull-right", :id => "new-message-form-submit"}
.clearfix