#new-message.modal.hide
  =semantic_form_for(Message.new) do |form|
    =form.input :recipient_id, :as => :hidden, :value => recipient.id
    .modal-header
      %button.close{:type => 'button', :'data-dismiss' => 'modal'} x
      %h3="Send a message to #{recipient}"
    .modal-body
      =form.input :text, :label => false, :input_html => {:rows => 6, :placeholder => "Send a message..."}
    .modal-footer
      =link_to("Cancel", "#", :class => "btn", :'data-dismiss' => 'modal')
      =form.commit_button "Send", :button_html => {:data => {}, :class => "btn btn-primary", :id => "new-message-form-submit"}
