=link_to "#", :class => "show-all-threads" do
  %i.icon-arrow-left
  %span
    View all messages

%ul.unstyled
  -thread.messages.each do |message|
    %li
      .message_user.pull-left.clear.mb-1.mt-1
        =link_to(image_for(message.user, "37x37#"), message.user, :class => "pull-left")
        .pull-left
          =link_to_self(message.user)
          %i.icon-chevron-right
          =thread.users.where("user_id != ?", message.user.id).collect{|user| (link_to "#{image_for(user, '20x20#')} #{user}".html_safe, user)}.join(", ").html_safe
          %br
          %span.small-info-text
            =time_ago_in_words(message.created_at)
            ago
      .message_content.clear
        -if message.text.present?
          =simple_format(auto_link(message.text))

=render "messages/new_message_form", :thread => thread