#addevent.modal.hide
  =semantic_form_for(TourDate.new) do |form|
    
    .modal-header
      %button.close{:type => 'button', :'data-dismiss' => 'modal'} x
      %h3
        Add an event
    .modal-body
      =form.inputs do
        =form.input :tour, :input_html => { :class => "chosen", :style => "width: 300px;"}, :label => "Select a Show", :collection => Tour.order(:name)
        %p
          Or if your show isn't listed, add details
          =link_to 'here', event_listing_tour_dates_path
        =form.input :venue, :input_html => { :class => "chosen", :style => "width: 300px;"}, :label => "Select a Venue", :collection => Venue.order(:name)
        =form.input :date, :as => :string, :input_html => {:class => 'datepicker'}, :label => "Select a Date"  
        =form.input :time,  :label => "Start time (24 hour format, hh:mm)", :as => :string, :input_html => {:class => 'timepicker'}
        =form.input :ticket_price_full, :as => :string, :label => 'Ticket Price (Full)'
        =form.input :ticket_price_concession, :as => :string, :label => 'Ticket Price (Concession)'
        =form.input :ticket_price_other, :as => :string, :label => 'Ticket Price (Other)'
        =form.input :ticket_link, :label => 'Ticket Link'
      
    .modal-footer
      =link_to("Cancel", "#", :class => "btn btn-primary", :'data-dismiss' => 'modal')
      =form.commit_button "Save", :button_html => {:class => 'btn-primary'}
    

