#addevent.modal.hide
  =semantic_form_for(TourDate.new) do |form|
    
    .modal-header
      %button.close{:type => 'button', :'data-dismiss' => 'modal'} x
      %h3
        Add an event
    .modal-body
      =form.inputs do
        =form.input :tour, :input_html => { :class => "chosen", :style => "width: 300px;"}, :label => "Select a Show", :collection => Tour.order(:name)
        =form.input :venue, :input_html => { :class => "chosen", :style => "width: 300px;"}, :label => "Select a Venue", :collection => Venue.order(:name)
        =form.input :date, :as => :string, :input_html => {:class => 'datepicker'}, :label => "Select a Date"  
        =form.input :time,  :label => "Start time (24 hour format, hh:mm)", :as => :string, :input_html => {:class => 'timepicker'}  
        
      
    .modal-footer
      =link_to("Cancel", "#", :class => "btn btn-primary", :'data-dismiss' => 'modal')
      =form.commit_button "Save", :button_html => {:class => 'btn-primary'}
    

