!!!
%html
  %body
    %h3="Welcome to PAN"
    %p
      ="Hi #{@user},"
    %p
      ="You have been signed up as a promoter on #{Settings.site_url}."
    %p
      ="To login to the site, just use the following link: #{sign_in_url}"
    %p
      Thanks,
    %p
      The PAN team
      %br
      =Settings.site_url
    
    
