=form.inputs 'Set the start and end dates of the tour' do
  .span
    =form.input :start_on_s, :as => :string, :label => "Start date", :input_html => {:class => "datepicker", :placeholder => "Click here to set date"}, :value_method => :to_s, :wrapper_html => {:class => 'pull-left mr-1 mt-2'}
  .span
    =form.input :end_on_s, :as => :string, :label => "End date", :input_html => {:class => "datepicker", :placeholder => "Click here to set date"}, :value_method => :to_s, :wrapper_html => {:class => 'pull-left mt-2'}
