-content_for(:head) do
  :javascript
    $(document).ready(function() {
      TourForm.dates = #{{}.tap{|hash| form.object.dates.each{|date| hash[date.date_s] = date}}.to_json};
      TourForm.init();
    });

=form.inputs '', :id => 'availability_start_end' do
  =form.input :start_on_s, :as => :string, :label => "Start date", :input_html => {:class => "datepicker", :placeholder => "Click here to set date"}, :value_method => :to_s
  =form.input :end_on_s, :as => :string, :label => "End date", :input_html => {:class => "datepicker", :placeholder => "Click here to set date"}, :value_method => :to_s
=form.inputs do
  #availability_datepicker
    #availability_popover.popover.right
      .arrow
      .popover-inner
        .popover-title
          %h4 Add a booking
          #popover_close.close &times;
        .popover-content
          .form
            .control-group
              %label Venue
              .controls
                =select_tag 'popover_venue_id', "<option value=''>Select a venue</option>#{options_from_collection_for_select(Venue.all, 'id', 'name')}".html_safe
            .control-group
              %label Or a venue that isn't on Tourbook
              .controls
                =text_field_tag 'popover_venue_name', '', :id => 'popover_external_venue_name'
              
        .popover-footer
          =link_to('Delete','#', :class => 'btn btn-danger pull-left', :id => 'popover_destroy')
          =link_to('Save booking','#', :class => 'btn btn-primary pull-right', :id => 'popover_save')
.hide
  =form.inputs do
    =form.semantic_fields_for :dates do |date_form|
      =render("tours/date_fields", :f => date_form)
    =link_to_add_association "+ Add a date", form, :dates, :"data-association-insertion-node" => '#availability .add_fields', :id => "add_tour_date"