-content_for(:head) do
  :javascript
    $(document).ready(function() {
      Redactor.init();
    });
=form.inputs do
  =form.input :performer_id, :as => :hidden
  =form.input :name
  
  %label.control-label
    Profile image
  -if tour.image && tour.errors[:image].empty?
    =image_for(tour, "220x150")
    =form.input :remove_image, :as => :boolean, :label => "No image"
  -else
    =image_for(tour, "220x150")
  =form.input :image, :as => :file, :label => "Select a file to upload",  :input_html => {:class => "mb-2"}

  =form.input :description, :as => :redactor, :input_html => {:rows => 5, :class => "span8"}
  =form.input :genre_list, :label => "Genres", :as => :select, :multiple => true, :collection => tag_list_options(:genres, tour, Tag.genres)
  =form.input :collection_list, :label => "Collections", :as => :check_boxes, :multiple => true, :collection => tag_list_options(:collections, tour, Tag.collections)
  =form.input :target_age, :label => "Target age range", :as => :text, :input_html => {:rows => 2, :class => "span8"}
  =form.input :running_time, :label => "Running time/with and without interval", :as => :text, :input_html => {:rows => 2, :class => "span8"}
  =form.input :publicity, :label => "Will you provide publicity?", :as => :text, :input_html => {:rows => 2, :class => "span8"}
