=form.inputs do
  =form.input :fees, :label => "Fees <small class='small-info-text'>(Please specify if VAT, travel and/or accommodation is to be added to this figure)</small>".html_safe, :as => :text, :input_html => {:rows => 4, :class => "span8"}
