=form.inputs do
  =form.input :min_playing_area, :label => "Minimum playing area <small class='small-info-text'>(sq m)</small>".html_safe
  =form.input :blackout_needed, :label => "Do you need a blackout?"
  =form.input :uses_lighting, :label => "Do you use lighting?"
  =form.input :uses_own_lighting, :label => "Do you tour your own lighting?"
  =form.input :uses_sound, :label => "Do you use sound?"
  
