=form.inputs do
  %legend Is your production suitable for:
  =form.input :suits_arts_venue, :label => "Arts venue"
  =form.input :suits_village_hall, :label => "Village/community hall"
  =form.input :suits_school_hall, :label => "School hall"
  =form.input :suits_outdoors, :label => "Outdoors"