.row
  .span12
    %h1.mb-2.mt-2
      Admin links
.row      
  .span12
    -if user_signed_in?                   
      %p
        %div
          -if current_user.promoter
            %div
              =link_to(current_user) do
                %icon.icon-user
                My profile
          -if current_user.promoter
            %div
              =link_to(current_user.promoter) do
                %icon.icon-flag
                My organisation
          -elsif current_user.performer   
            %icon.icon-magic
            -if current_user.performers.count == 1
              My Performer
            -else
              My Performers
            %ul.unstyled
              -current_user.performers.each do |performer|
                %li=link_to_self current_user.performer
          -if current_user.admin?
            %div
              =link_to(needs_approval_tour_dates_path) do
                %icon.icon-calendar
                Events in the diary
            %div
              =link_to(performers_path) do
                %icon.icon-music
                Performers
            %div
              =link_to(tours_path) do
                %icon.icon-star
                Manage tours                    
            %div
              =link_to(collections_path) do
                %icon.icon-tags
                Manage tour collections
            %div
              =link_to(individuals_promoters_path) do
                %icon.icon-flag
                Promoters and people                 
            %div
              =link_to(venues_path) do
                %icon.icon-map-marker
                Venues
            %div
              =link_to(directory_users_path(:letter => 'A')) do
                %icon.icon-user
                Users
              %div
                =link_to(promoter_enquiries_path) do
                  %icon.icon-comment
                  Promoter applications                    
            %div
              =link_to(enquiries_path) do
                %i.icon-bullhorn
                Enquiries                    
            %div
              =link_to(tags_path) do
                %icon.icon-tags
                Manage tags                    

        
