-original_tags = @tags || []


#directory-sidebar
  .well
    %h4 Search
    %form.pull-right{:action => url_for({:controller => controller_name, :action => 'search'}), :method => 'get', :id => "directory-search"}
      =text_field_tag 'q', params[:q]
      %input.btn{:type => 'submit', :value => "Search"}
    .clearfix
  .well
    %h4 Type
    %ul.unstyled
      =type_filter_link("show")
      =type_filter_link("performer")
      =type_filter_link("venue")
      =type_filter_link("promoter")
      =type_filter_link("user")
  .well
    %h4 Collection
    %ul.unstyled
      -Collection.all.each do |collection|
        =collection_filter_link(collection)
  .well
    %h4 Genre
    .show-tags
      =render 'organisations/tags_for_directory_view', :tags => Tag.genres, :original_tags => original_tags
    .clearfix
    
  .well
    %h4 Locations
    %ul.unstyled
      -Pan::REGIONS.values.sort.each do |region|
        =region_filter_link(:li, region)