=google_maps_javascript_include_tag
=content_for :head do
  :javascript
    VenuesMap.venues = #{Venue.with_lat_lng.to_json(:only => [:id, :name, :lat, :lng], :methods => [:infowindow_image_url, :short_description])};
    $(document).ready(function() {      
      VenuesMap.init(true);
      }); 

-@tags ||= [*params[:tags]]

#directory-sidebar
  .well#filter-top
    %h4 Filters    
    -if @type.present? || @collection.present? || @query.present? || @tags.present? || @region.present?      
      -if @type.present? || @collection.present? 
        %ul.unstyled
          =type_filter_link(@type)
          =collection_filter_link(Collection.all.detect { |c| c.name.parameterize == @collection }) if @collection.present?
      .show-tags
        -@tags.sort.each do |tag|
          =directory_item_tag(Tag.find_by_name(tag), @tags.dup)
      .clearfix
      -if @region.present?
        %ul.unstyled
          =region_filter_link(:li, Pan::REGIONS.detect { |r| r[0] ==@region })
      =link_to 'Clear all filters', directory_path, :class => 'pull-right clear-all '
      .clearfix

  / .well
  /   %h2.mb-1 Filter by:  
  /   .show-tags
  /     -@tags.each do |tag|
  /       -param_tags = original_tags.dup
  /       -param_tags.delete(tag)
  /       =tag_link(tag, {:tags => param_tags, :start_date => @start_date, :end_date => @end_date, :month => month, :year => year, :collection => @collection, :region => @region, :sort => @sort}, "tag active", true)
  /     =show_region_filter_link(:span, @region, true)
  /     =type_filter_link(@type)
  /   .clearfix

  .well
    %h4 Type
    %ul.unstyled
      -%w{Performer Promoter Tour Venue User}.each do |type|
        =type_filter_link(type)
  .well
    %h4 Genre
    .show-tags
      =render 'organisations/tags_for_directory_view', :tags => Tag.genres, :original_tags => @tags
    .clearfix
  .well
    %h4 Location
    %ul.unstyled
      -Pan::REGIONS.sort.each do |region|        
        =region_filter_link(:li, region)
  .well    
    =form_tag(directory_path, :method => :get, :id => 'directory-sidebar-search') do
      =text_field_tag(:q, @query, :placeholder => "Enter your keyword")      
      %button.btn-primary{:id => 'directory-sidebar-submit'}
        %i.icon-search
      =submit_tag('Filter', :class => 'btn hide')
  .well
    =link_to venues_path, do
      #map-canvas{:style => "height:220px;width:100%"}
//=will_paginate @everything