.nested-fields
  =f.inputs :class => "form-inline" do
    =f.input :url, :as => :string, :label => "Additional website", :wrapper_html => {:class => "pull-left mr-1 link_url"}    
    =link_to_remove_association "x Remove link", f, :class => "pull-left"
  %hr