-slideshow.slides.each do |photo|
  .span2.mb-3
    =link_to "#photo_#{photo.id}", :'data-toggle' => "modal", :class => "" do
      =image_for(photo, "170x170>")
    =photo.caption
    
    
-slideshow.slides.each do |photo|   
  #photo.modal.hide{:id => "#{photo.id}"}
    .modal-header
      %button.close{:type => 'button', :'data-dismiss' => 'modal'} x
      %h3=photo.caption
    .modal-body
      =image_for(photo, "740x580>")
    