-if viewing_community?
  .row.mb-2
    .span12
      =render("community/nav")
-if current_page?(venues_path)
  =google_maps_javascript_include_tag
  =content_for :head do
    :javascript
      VenuesMap.venues = #{Venue.with_lat_lng.to_json(:only => [:id, :name, :lat, :lng], :methods => [:infowindow_image_url, :short_description])};
      $(document).ready(function() {
        VenuesMap.init(true);
      });

-original_tags = @tags || []

-unless controller_name.directory?
  .row
    .span12
      %h2.pull-left
      %form.form-search.pull-right{:action => url_for({:controller => controller_name, :action => 'search'}), :method => 'get'}
        =text_field_tag 'q', params[:q], :class => "input-medium search-query"
        %input.btn{:type => 'submit', :value => "Search"}
.row
  .span12.mt-2
    %ul.nav.nav-tabs
      -if controller_name.venues?
        =li_with_active(action_name.index?, link_to("Map",venues_path))
        =li_with_active(action_name.latest?, link_to("Latest", {:controller => controller_name, :action => 'latest'}))
      -elsif controller_name.users?
        =li_with_active(action_name.directory?, link_to("A &ndash; Z".html_safe, {:controller => controller_name, :action => 'directory', :letter => present_directory_letters.first}))
        =li_with_active(action_name.index? && @tag.nil?, link_to("Latest", {:controller => controller_name, :action => 'index'}))
      -elsif controller_name.promoters?
        =li_with_active(action_name.directory?, link_to("A &ndash; Z".html_safe, {:controller => controller_name, :action => 'directory', :letter => present_directory_letters.first}))
        =li_with_active(action_name.index? && @tag_context.nil? && @tag.nil?, link_to("Latest", {:controller => controller_name, :action => 'index'}))
        =li_with_active(action_name.regions? && @tag.nil?, link_to("Regions", {:controller => controller_name, :action => 'region'}))
        =li_with_active(@tag_context == 'genres' &&  @tag.nil?, link_to('Genres', genres_promoters_path))
        =li_with_active(@tag_context == 'art_forms' &&  @tag.nil?, link_to('Art forms', art_forms_promoters_path))
        =li_with_active(@tag_context == 'funders' &&  @tag.nil?, link_to('Funders', funders_promoters_path))
        =li_with_active(@tag_context == 'work_scales' &&  @tag.nil?, link_to('Scale of work', scale_of_work_promoters_path))
      -elsif controller_name.directory?
        %h1
          Directory
      -else
        =li_with_active(action_name.directory?, link_to("A &ndash; Z".html_safe, {:controller => controller_name, :action => 'directory', :letter => present_directory_letters.first}))
        =li_with_active(action_name.index? && @tag_context.nil? &&  @tag.nil?, link_to("Latest", {:controller => controller_name, :action => 'index'}))
      -if controller_name.performers?  
        =li_with_active(action_name.rating?, link_to("Rating", {:controller => controller_name, :action => 'rating'}))
        =li_with_active(@tag_context == 'genres' &&  @tag.nil?, link_to('Genres', genres_performers_path))
        =li_with_active(@tag_context == 'art_forms' &&  @tag.nil?, link_to('Art forms', art_forms_performers_path))
      -if action_name.search?
        =li_with_active(true, link_to('Search', '#'))
      -if @tag
        =li_with_active(true, link_to(@tag.to_s.titleize.humanize, '#'))

.row
  -if current_page?(venues_path)
    #map-canvas.span12{:style => "height:600px"}
  -elsif @tag_context.present? && @tag.nil?
    .span12
      %table.table.table-striped
        %tbody
          -unless @tags.empty?
            -@tags.each do |tag|
              %tr
                %td.span1
                  %span.badge.pull-right=tag.count
                %td
                  =link_to_tag_in_context(tag.name, controller_name, @tag_context)
          -else
            %tr
              %td No organisation has entered information for this yet.
                
  -else
    .span9
      -if directory_items.empty?
        %p
          There are no 
          =controller_name.directory? ? "items" : controller_name
          -if @tags
            with these tags
          -if @query
            ="that match \"#{@query}\""
          -elsif @letter
            ="beginning with \"#{@letter}\""
      -else
        %table.table.table-bordered.table-striped
          -if controller_name.directory?
            %tbody
              -directory_items.each do |directory_item|
                %tr
                  %td.span4
                    %h4.directory-item=directory_item_link(directory_item)
                  %td.span6
                    %h4.directory-item-extra=directory_item_extra(directory_item)
                  %td.span6.right-align
                    -if directory_item.respond_to?(:region) && directory_item.region.present?
                      .directory-item-region
                        =region_filter_link(:h4, Pan::REGIONS.detect { |r| r[1] == directory_item.region })
                    -elsif directory_item.respond_to?(:genres)
                      .show-tags.right-align
                        =render 'organisations/tags_for_directory_view', :tags => directory_item.genres, :original_tags => original_tags
          -else
            %tbody
              -directory_items.each do |directory_item|
                %tr
                  %td.span1
                    =image_for(directory_item, "50x50#", :class => "pull-left mr-1")
                  %td.span4
                    %h4.directory-item=link_to_self(directory_item)
                    -if action_name.rating? && directory_item.reviews.count > 0
                      %h5
                        =rating_stars(directory_item.overall_rating)
                      %h6  
                        =pluralize(directory_item.reviews.count, "review")
                  %td.span8
                    =directory_item.summary.present? ? directory_item.summary : truncate(directory_item.try(:description).to_s, :length => 255)
        =will_paginate @everything
    .span3
      =render "organisations/directory_sidebar"
.row
  .span12
    =options_panel do
      =back_link
      =link_if_can("New #{controller_name.singularize}", [:new, controller_name.classify.constantize]) unless controller_name.venues? || controller_name.directory?
      -if controller_name.promoters?
        =link_to("Manage individuals", individuals_promoters_path) if can?(:individuals, Promoter)
        =link_to("List applications to join", promoter_enquiries_path) if can?(:read, Enquiry)