-content_for :head do
  :javascript
    $(document).ready(function() {
      var base_url = "diary?#{{:tags => @tags.uniq, :month => @month, :year => @year, :tour_id => @tour_id, :organisation_id => @organisation_id, :venue_id => @venue_id}.to_query}"
      $('#start_date').change(function() {
        location.href = base_url + '&start_date=' + encodeURIComponent($(this).val()) + '&end_date=' + encodeURIComponent($('#end_date').val());
      });
      $('#end_date').change(function() {
        location.href = base_url + '&start_date=' + encodeURIComponent($('#start_date').val()) + '&end_date=' + encodeURIComponent($(this).val());
      });
      $('#remove-start-date').click(function() {
        location.href = base_url + '&start_date=&end_date=' + encodeURIComponent($('#end_date').val());
      });
      $('#remove-end-date').click(function() {
        location.href = base_url + '&start_date=' + encodeURIComponent($('#start_date').val()) + '&end_date=';
      });
    });

-original_tags = @tags || []

.row
  .span9
    %h1.mb-2.mt-2 Diary
  .span3.mt-3  
    =link_to "#addevent", :'data-toggle' => "modal", :class => "btn side-btn" do
      %i.icon-pencil
      Add an event

.row
  .span9
    .well
      %table#diary
        %thead
          %tr
            -if @month.present? && @year.present?
              %th.span1=link_to_previous_month(@month, @year, @tags, @start_date, @end_date)
              %th.month.span7{:colspan => 2}
                =Date::MONTHNAMES[@month.to_i]
                =@year
              %th.span1=link_to_next_month(@month, @year, @tags, @start_date, @end_date)
            -elsif @tour_id.present?
              %th.span9{:colspan => 4}
                =Tour.find(@tour_id)
                =link_to "all shows", diary_path, :class => "clear-tour-filter"
            -elsif @organisation_id.present?
              %th.span9{:colspan => 4}
                =Promoter.find(@organisation_id)
                =link_to "all shows", diary_path, :class => "clear-tour-filter"
            -elsif @venue_id.present?
              %th.span9{:colspan => 4}
                =Venue.find(@venue_id)
                =link_to "all shows", diary_path, :class => "clear-tour-filter"

        %tbody
          -if @dates.size == 0
            %tr
              %td.span9{:colspan => 4}
                %p.lead No diary dates with these filters!
          -else
            -@dates.each do |date|
              %tr
                %td.date
                  -if @month.present? && @year.present?
                    =date.date.to_s(:day_and_date)
                  -else
                    =date.date.to_s(:date)
                %td
                  =link_to_self date.tour, :class => "tour"
                %td
                  -if date.venue_id > 0
                    =link_to_self date.venue, :class => "venue"
                  -else
                    .venue=date.external_venue_name
                %td
                  .clearfix
                  .show-tags
                    -date.tour.genres.each do |tag|
                      -param_tags = original_tags.dup
                      -param_tags << tag.name unless param_tags.delete(tag.name)

                      =tag_link(tag.name, {:tags => param_tags, :start_date => @start_date, :end_date => @end_date, :month => @month, :year => @year, :tour_id => @tour_id, :organisation_id => @organisation_id , :venue_id => @venue_id }, "tag #{@tags.include?(tag.name.gsub(/-/, ' ')) ? 'active' : ''}")
                  .clearfix

  .span3
    =render 'shows/filter_sidebar', :original_tags => original_tags, :month => @month, :year => @year
    

=render 'tour_dates/addevent_modal'

.row
  .span12
    %h1 Add event    
    =semantic_form_for(TourDate.new) do |form|
      =form.inputs do
        =form.input :tour
        =form.input :venue
        =form.input :date, :as => :string
      =form.buttons do
        =form.commit_button "Save", :button_html => {:class => 'btn-primary'}    
    
    
   