-content_for :head do
  :javascript
    $(document).ready(function() {
      var base_url = "diary?#{{:tags => @tags.uniq, :month => @month, :year => @year, :tour_id => @tour_id, :organisation_id => @organisation_id, :venue_id => @venue_id, :collection => @collection, :region => @region}.to_query}"
      $('#start_date').change(function() {
        location.href = base_url + '&start_date=' + encodeURIComponent($(this).val()) + '&end_date=' + encodeURIComponent($('#end_date').val());
      });
      $('#end_date').change(function() {
        location.href = base_url + '&start_date=' + encodeURIComponent($('#start_date').val()) + '&end_date=' + encodeURIComponent($(this).val());
      });
      $('#remove-start-date').click(function() {
        location.href = base_url + '&start_date=&end_date=' + encodeURIComponent($('#end_date').val());
      });
      $('#remove-end-date').click(function() {
        location.href = base_url + '&start_date=' + encodeURIComponent($('#start_date').val()) + '&end_date=';
      });
    });

-original_tags = @tags || []

.row
  .span9
    %h1.mb-2.mt-2 Diary
  -if current_user.promoter || current_user.admin?
    .span3.mt-3  
      =link_to "#addevent", :'data-toggle' => "modal", :class => "btn side-btn" do
        %i.icon-pencil
        Add an event

.row
  .span9
    .well.diary
      %table#diary

        -if @tour_id.present?
          %thead
            %tr
              %th.span9{:colspan => 4}
                =Tour.find(@tour_id)
                =link_to "all shows", diary_path, :class => "clear-tour-filter"
        -elsif @organisation_id.present?
          %thead
            %tr
              %th.span9{:colspan => 4}
                =Promoter.find(@organisation_id)
                =link_to "all shows", diary_path, :class => "clear-tour-filter"
        -elsif @venue_id.present?
          %thead
            %tr
              %th.span9{:colspan => 4}
                =Venue.find(@venue_id)
                =link_to "all shows", diary_path, :class => "clear-tour-filter"

        %tbody
          -if @dates.size == 0
            %tr
              %td.span9{:colspan => 4}
                %p.lead No diary dates with these filters!
          -else
            -@dates.group_by{|date| date.date.strftime("%B %Y")}.each do |month, dates|
              %thead
                %tr
                  %th.span9{:colspan => 4}
                    =month
              -dates.each do |date|
                %tr
                  %td.date
                    =date.date.strftime("%e")
                  %td
                    =link_to_self date.tour, :class => "tour"
                    =link_if_can('edit', [:edit, date])
                  %td
                    -if date.venue_id.to_i > 0
                      =link_to_self date.venue, :class => "venue"
                    -else
                      .venue=date.external_venue_name
                    =format_time(date.time)  
                  %td
                    .clearfix
                    .show-tags
                      -date.tour.genres.each do |tag|
                        -param_tags = original_tags.dup
                        -param_tags << tag.name unless param_tags.delete(tag.name)

                        =tag_link(tag.name, {:tags => param_tags, :start_date => @start_date, :end_date => @end_date, :tour_id => @tour_id, :organisation_id => @organisation_id , :venue_id => @venue_id }, "tag #{@tags.include?(tag.name.gsub(/-/, ' ')) ? 'active' : ''}")
                  -if can? :destroy, date
                    %td
                      =link_to date, :method => :delete, :confirm => 'Are you sure?' do
                        %i.icon-remove
                    .clearfix
            -if @dates.total_pages > 2
              %tr.paginate
                %td{:colspan => 4}
                  =will_paginate @dates

  .span3
    =render 'shows/filter_sidebar', :original_tags => original_tags, :month => @month, :year => @year
    

=render 'tour_dates/addevent_modal'

    
    
   