=form.inputs do  
  =form.input :box_office_phone, :label => 'Box Office Phone'
  =form.input :box_office_email, :label => 'Box Office Email'
  =form.input :box_office_person, :label => 'Box Office In Person'
  =form.input :box_office_online, :label => 'Box Office Online'