=form.inputs do
  %legend Contact details
  =form.input :address1, :label => 'Address 1'
  =form.input :address2, :label => 'Address 2'
  =form.input :address3, :label => 'Address 3'
  =form.input :address4, :label => 'Address 4'
  =form.input :postcode
  =form.input :phone
  =form.input :email
