.alert
  %i.icon-info-sign
  Use this form to edit the organisation's main contact details.
=form.inputs do
  =form.input :address1, :label => 'Address 1'
  =form.input :address2, :label => 'Address 2'
  =form.input :city
  =form.input :postcode
  =form.input :phone
  =form.input :email
