.alert
  %i.icon-info-sign
  Use this form to upload a number images to build a slideshow for the organisation.
=render("slideshows/fields", :form => form, :slideshow => (promoter.slideshow || promoter.build_slideshow))