-content_for :head do
  :javascript
    $(document).ready(function() {
      Redactor.init();
    });
=semantic_form_for @group do |form|
  =error_alert(@group)
  =form.inputs do
    =form.input :name
    =form.input :description, :as => :redactor
    =form.input :promoter_id, :as => :select, :collection => Promoter.find(:all, :order => "name"), :include_blank => true, :input_html => { :class => "", :style => "width: 500px;"}, :label => "Make this group private and only visible to:"
  =form.buttons do
    =form.commit_button "Save", :button_html => {:class => 'btn-primary'}