.post.mb-2{:id => "post#{post.id}"}
  .well.post-content.mb-0
    .post_user.pull-left.clear
      =link_to(image_for(post.user, "50x50#"), post.user, :class => "pull-left")
      .pull-left.post_content
        -if post.text.present?
          =link_to group_post_path(post) do
            =simple_format(auto_link(post.text))
            %span.small-info-text
              =time_ago_in_words(post.created_at)
              ago
      =can?(:destroy, post)
      =link_if_can [:destroy, post], :confirm => 'Are you sure?', :remote => true, :class => 'pull-right' do
        %i.icon-trash
    .clearfix
