-if user.new_record? && promoter
  -url = promoter_users_path(promoter)
-elsif user.new_record?
  -url = current_user.try(:admin?) ? admin_create_user_path : users_path
-else
  -url = user_path(user)

=semantic_form_for(user, :url => url, :multipart => true) do |form|
  -if user.performer
    =tabs('details', :form => form)
  -elsif promoter
    =tabs('details', :form => form) 
  -else  
    =tabs('details', 'profile', 'organisations/tabs/links', :form => form)
  =form.buttons do
    =form.commit_button "Save", :button_html => {:class => 'btn-primary'}
    
