-if notification.resource.is_a?(Post)
  -notification_group = notification.resource.target
  -notification_user = notification.resource.user
-elsif notification.resource.is_a?(Comment)
  -notification_group = notification.resource.post.target
  -notification_user = notification.resource.post.user
-elsif notification.resource.is_a?(Performer)
  -notification_group = notification.resource
  -notification_user = notification.resource
%li
  .notification_user.pull-left.clear.mb-1.mt-1
    =link_to(image_for(notification_user, "37x37#"), notification_user, :class => "pull-left")
    .pull-left
      =link_to_self(notification_user)
      %i.icon-chevron-right
      -if notification.resource.is_a?(Performer)
        -if notification.context == 'favourite_updated'
          updated their profile
        -if notification.context == 'tour_created'
          has a new show
        -if notification.context == 'tour_updated'
          updated a show
      -else
        =link_to_self(notification_group)
      %br
      %span.small-info-text
        =time_ago_in_words(notification.created_at)
        ago
  .notification_content.clear