.row
  .span3
    .row
      .well
        =user.image.present? ? image_for(user, "220x150#") : image_tag("placeholder-individual.jpg")
        -if user.promoter
          .promoter
            =link_to user.promoter do
              %h5
                %i.icon-briefcase
                =user.promoter
                %br
              =user.job_title
          -if user.venues.present?
            .venues.bt
              -user.venues.each do |venue|
                =link_to venue do
                  %h5
                    %i.icon-home
                    =venue
        -elsif user.performer
          =link_to user.performer do
            %i.icon-user
            =user.performer
            
        -if user.groups.present?
          .venues.bt
            %h
              %i.icon-comment
              -user.groups.each do |group|
                =link_to_self group   
                %br    

        .bt      
          -if user.skills.present?
            .genres
              =comma_list_tags(user, :skills)
              
        -if user.promoter
          %h5
            %i.icon-map-marker
            =user.promoter.region      

    
        -if user.links.present?
          -if user.links_without_twitter_and_facebook.present?
            %ul.unstyled.links
              -user.links_without_twitter_and_facebook.each do |link|
                %li
                  =link_to(link, link.url, :target => '_blank')
          -if user.links_only_twitter_and_facebook.present?
            -user.links_only_twitter_and_facebook.each do |link|
              =facebook_twitter_link(link)        
        .black-block-links        
          -if can?(:edit,user)
            =link_to edit_user_path(user), {:class => "btn"} do
              %i.icon-edit
              Edit User 

  .span9
    %ul.nav.nav-tabs#tour-tabs
      %li.active
        =link_to  "About", "#about", :'data-toggle' => 'tab'

            
      #about.tab-pane.in
        .row
          .span9
            .well
              -if user.description.present?
                =user.description
              -else
                No details added yet.


=render 'messages/new_message_modal', :recipient => user
            
          