.row
  .span3
    .row
      .span3
        =image_for(user, "220x")
      .span3.mt-2.overflow-hidden  
        -if user.promoter
          %h4 Organisation
          =link_to_self user.promoter
        -elsif user.performer
          %h4 Performer
          =link_to_self user.performer
        -else
          %h4 Organisation
          ="#{user.first_name} is not linked to an organisation"
        
        %h4.mt-2 Role
        -if user.job_title
          =user.job_title
        -else
          .italic Nothing entered yet
          .action-link
            =link_to("Edit", edit_user_path(user, :anchor => "profile")) if can?(:edit, user)

        %h4.mt-2 Links
        -if !user.links.empty?
          %ul.unstyled.links
            -user.links.each do |link|
              %li
                =image_tag(link.favicon)
                =link_to(link, link.url, :target => '_blank')
          -else
            .italic Nothing entered yet
            .action-link
              =link_to("Edit", edit_user_path(user, :anchor => "links")) if can?(:edit, user)     
  .span5
    %h1.mb-1=title(user)
    %p
      %h4 Bio
      -if user.bio
        =simple_format(user.bio)
        .action-link
          =link_to("Edit", edit_user_path(user, :anchor => "profile")) if can?(:edit, user)
      -else
        .italic
          %span Nothing entered yet.
          .action-link
            =link_to("Edit", edit_user_path(user, :anchor => "profile")) if can?(:edit, user)
          

    .row
      .span5
        %h4 My main skill areas are
        -if user.skill_list.empty?
          .italic
            %span Nothing entered yet.
          .action-link
            =link_to("Edit", edit_user_path(user, :anchor => "profile")) if can?(:edit, user)
        -else
          =list_tags(user, :skills)
        %h4.mt-1 I can offer help with
        -if user.skills_offered_list.empty?
          .italic        
            %span Nothing entered yet.
          .action-link
            =link_to("Edit", edit_user_path(user, :anchor => "profile")) if can?(:edit, user)          
        -else        
          =list_tags(user, :skills_offered)
        %h4.mt-1 I would like help with 
        -if user.skills_needed_list.empty?
          .italic        
            %span Nothing entered yet.
          .action-link
            =link_to("Edit", edit_user_path(user, :anchor => "profile")) if can?(:edit, user)
        -else
          =list_tags(user, :skills_needed)
    =render("organisations/facebook_twitter", :organisation => user)
  .well.span3
    -if current_user == user
      =render("helpboxes/profile_viewing_own")
    -else
      =render("helpboxes/profile_viewing_other")
.row.mt-2
  .span9.offset3
    #wall
      %h4.mb-1="#{user.first_name}'s posting wall"
      -if can?(:create, Post)
        =render("posts/remote_form", :post => current_user.posts.build(:target => (current_user==user ? nil : user)))
        =render("posts/posts", :posts => wall_posts)