.row
  .span3
    .row
      .well
        =image_for(user, "220x150#")
        -if user.promoter
          .promoter
            =link_to user.promoter do
              %i.icon-group
              =user.promoter
            =user.job_title
          -if user.venues.present?
            .venues
              -user.venues.each do |venue|
                =link_to venue do
                  %i.icon-home
                  =venue
        -elsif user.performer
          =link_to user.performer do
            %i.icon-user
            =user.performer
    
        -if user.links.present?
          -if user.links_without_twitter_and_facebook.present?
            %ul.unstyled.links
              -user.links_without_twitter_and_facebook.each do |link|
                %li
                  =link_to(link, link.url, :target => '_blank')
          -if user.links_only_twitter_and_facebook.present?
            -user.links_only_twitter_and_facebook.each do |link|
              =facebook_twitter_link(link)
        .black-block-links
          =link_to "", :class => "btn" do
            %i.icon-envelope
            Send a message

  .span9
    %ul.nav.nav-tabs#tour-tabs
      %li.active
        =link_to  "About", "#about", :'data-toggle' => 'tab'

            
      #about.tab-pane.in
        .row
          .span9
            .well
              -if user.description.present?
                =user.description
              -else
                No details added yet.
            
          