.row
  .span3
    =render "users/user_sidebar"

  .span9
    %ul.nav.nav-tabs#tour-tabs
      %li.active
        =link_to  "About", "#about", :'data-toggle' => 'tab'
      %li
        =link_to "My Notifications", "#notifications", :'data-toggle' => 'tab'
      %li
        =link_to "My Messages", "#messages", :'data-toggle' => 'tab'
      %li
        =link_to "My Activity", "#activity", :'data-toggle' => 'tab'
      %li
        =link_to "My Groups", "#groups", :'data-toggle' => 'tab'
      %li
        =link_to "My Preferences", "#preferences", :'data-toggle' => 'tab'
    .tab-content
      #about.tab-pane.fade.in.active
        .well
          =simple_format(user.description)

      #notifications.tab-pane.fade.in
        .well
          -if current_user.other_notifications.where(:read => false).size == 0
            %p You have no notifications
          -else
            %ul.unstyled
              -current_user.other_notifications.where(:read => false).reverse_order.each do |notification|
                =render 'users/notification', :notification => notification

      #messages.tab-pane.fade.in
        .well
          =render "messages/index", :threads => current_user.threads

      #activity.tab-pane.fade.in
        .well
             
      #groups.tab-pane.fade.in
        .well
            
      #preferences.tab-pane.fade.in
        .well