.row.profile-left-col
  .well
    =image_for(user, "220x150#")
    .black-block-links
      =link_to edit_user_path(user), :class => "btn" do
        %i.icon-pencil
        Edit profile
    .notifications
      %i.icon-group
      %span.number=user.group_notifications.count
      notifications
      =link_to "view", "#notifications", :'data-toggle' => 'tab'
    .messages
      %i.icon-envelope
      %span.number=user.message_notifications.count
      messages
      =link_to "view", "#messages", :'data-toggle' => 'tab'
    -if user.promoter
      .promoter
        %h4
          %i.icon-briefcase
          My Organisation
        =link_to_self user.promoter
    -if user.performer
      .promoter
        %h4
          %i.icon-group
          My Performer
        =link_to_self user.performer

    -if user.venues.present?
      .venues
        %h4
          %i.icon-home
          My Venues
        -user.venues.each do |venue|
          =link_to_self venue
    -if user.links.present?
      -if user.links_without_twitter_and_facebook.present?
        %ul.unstyled.links
          -user.links_without_twitter_and_facebook.each do |link|
            %li
              =link_to(link, link.url, :target => '_blank')
      -if user.links_only_twitter_and_facebook.present?
        -user.links_only_twitter_and_facebook.each do |link|
          =facebook_twitter_link(link)