.row.profile-left-col
  .well
    =image_for(user, "220x150#")
    .black-block-links
      =link_to edit_user_path(user), :class => "btn" do
        %i.icon-pencil
        Edit profile
    .notifications
      %i.icon-group
      %span.number=user.other_notifications.count
      notifications
      =link_to "view", "#notifications", :'data-toggle' => 'tab'
    .messages
      %i.icon-envelope
      %span.number=user.message_notifications.count
      messages
      =link_to "view", "#messages", :'data-toggle' => 'tab'
    -if user.promoter
      .promoter
        %h4
          %i.icon-group
          My Organisation
        =link_to_self user.promoter
        =user.job_title
    -if user.performer
      .performer
        %h4
          %i.icon-magic
          -if user.performers.count == 1
            My Performer
          -else
            My Performers

        -user.performers.each do |performer|
          =link_to_self performer
          %br

    -if user.venues.present?
      .venues
        %h4
          %i.icon-home
          My Venues
        -user.venues.each do |venue|
          =link_to_self venue
          %br
          
    -if user.groups.present?
      .venues
        %h4
          %i.icon-comment
          My groups
        -user.groups.each do |group|
          =link_to_self group   
          %br   
          
    .bt      
      -if user.skills.present?
        .genres
          =comma_list_tags(user, :skills) 
          
          
    -if user.promoter
      %h5
        %i.icon-map-marker
        =user.promoter.region     
      
    %br
    %br      
    %ul.unstyled.links             
      %li.website-link
        =link_to(user.website_url, user.website_url, :target => '_blank') if user.website_url
      %li
        =link_to(content_tag(:i, "", :class => "icon-facebook"), user.facebook_url, :target => '_blank') if user.facebook_url          
        =link_to(content_tag(:i, "", :class => "icon-twitter"), user.twitter_url, :target => '_blank') if user.twitter_url
        =link_to(content_tag(:i, "", :class => "icon-youtube"), user.youtube_url, :target => '_blank') if user.youtube_url

        