.row
  .span12
    %h1.tour
      %i.icon-user
      =user.full_name
-if current_user == user
  =render 'own_profile'
-else
  =render 'other_profile'


.row.mt-2
  .span8
    =options_panel do
      =link_to "#{content_tag(:i, nil, :class => 'icon-arrow-left')}Back".html_safe, :back, :class => "btn black-block-links"      