.container
#sign-in
  .container
    .row
      .sign-in-intro.span8.center
        %h1
          %span.welcome-to
            Welcome to
          %span.welcome-to-tourbook  
            tourbook
        %p.sub-title supporting touring performance in your community

    .row    
      .span5.forgotten-password
             
        =semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |form|
          %h2 Forgot your password?          
          =form.inputs do
            =form.input :email, :label => false, :placeholder => "email"
          =form.buttons do
            =form.commit_button "Send me reset password instructions"
      .span8.sign-in-links
        %ul
          %li
            =link_to "Sign in", new_session_path(resource_name)
          %li
            =link_to "Sign up", invite_path
        

        
    
    .row#sign-in-info
      .span3
        %h2 About Tourbook
        %p Tourbook has been created as a tool to support the development of rural touring in Scotland.  It is an online platform that connects rural promoters with each other, and with professional performers of all genres. It provides a space for performers to promote their shows and for promoters to share their activities and offer mutual support.
      .span3    
        %h2 Join Up
        %p Tourbook helps you to find and book shows, connect with other promoters, share skills and know-how as well as stay up to date with related news and events. Tourbook is currently open only to members of The Touring Network - who promote shows across the Highlands & Islands of Scotland. To find out more about how Tourbook could help bring professional arts events to your community get in touch.
        %strong
          =link_to "Sign up here", invite_path
          
      .span3
        %h2 For performers
        %p Looking to take your show out on tour? Tourbook offers a unique platform to promote your show to our network of  promoters. If you are working professionally in any area of the performing arts and are looking to bring your work to audiences in some of the most remote and beautiful parts of Scotland, get in touch to find out how Tourbook can help get your show on the road.
      .span3
        %h2 Support
        %p
          Tourbook is a project by The Touring Network. Find out more about who we are and what we do
          =link_to('here', "http://www.thetouringnetwork.com", :target => 'new')
          ="."
        =link_to "The Touring Network", "http://www.thetouringnetwork.com", :class=>"the-touring-network", :target=>"blank"
        =link_to "Creative Scotland", "http://www.creativescotland.com/", :class=>"creative-scotland", :target=>"blank"

