#welcome-popup.modal.hide.fade
  =semantic_form_for(Message.new) do |form|
    .modal-header
      %button{:type=>"button", :class=>"close", :"data-dismiss"=>"modal"}
        ×
      %h3
        Welcome to Tourbook
    .modal-body

      %p 
        We are currently in beta - which means we've released our online platform before it's finished. Why did we do that? There's a very simple answer: we want to get feedback from promoters during the development process rather than afterwards.   
      %p
        As the first users of the site your feedback is crucial to help us develop all the features of Tourbook.
        So don't be shy - have an explore and please use the feedback button at the foot of the page to tell us what you think.
      %p
        To get started why not view the two noticeboard posts on the right side of the homepage, to find out what you can do with Tourbook and discover more about our new Network Supported Tours.
      %p
        Thank you,
      %p
        The Tourbook Team
      %p
        %i
          Not sure about something? Visit Help at the foot of every page at any time.
       
      =form.commit_button "Get started!", :button_html => {:"data-dismiss"=>"modal", :class => "btn  message-reply-btn", :id => "new-message-form-submit"}

