.row.mb-2
  .span8
    =image_placeholder("620x300")
  .span4
    .homepage-box
      %h2.homepage-box-title
        =link_to_slug('about-tourbook')
      .homepage-box-content
        -if (about_tourbook = Page.find_by_slug('about-tourbook')).try(:summary).present?
          =simple_format(about_tourbook.summary)
        -else
          =simple_format(truncate(about_tourbook.try(:text).to_s, :length => 200))
      .homepage-box-links
        =link_to_slug("Find out more", 'about-tourbook')
.row.mb-2
  .span4
    .homepage-box
      %h2.homepage-box-title
        =link_to_slug('about-pan')
      .homepage-box-content
        -if (about_pan = Page.find_by_slug('about-pan')).try(:summary).present?
          =simple_format(about_pan.summary)
        -else
          =simple_format(truncate(about_pan.try(:text).to_s, :length => 200))
      .homepage-box-links
        =link_to_slug("Find out more", 'about-pan')
  .span4
    .homepage-box
      %h2.homepage-box-title
        Promote your company in Scotland
      .homepage-box-content
        %p If you are performing arts company wanting to promote your events in the Highlands and Islands of Scotland then sign up here.
      .homepage-box-links
        =link_to("Sign up for FREE", new_user_path)
  .span4
    .homepage-box
      %h2.homepage-box-title
        =link_to('Join the promoter community', new_user_path)
      .homepage-box-content
        %p If you are a member of PAN then you can access the community tools here.
      .homepage-box-links
        =link_to("Register", new_user_path)
.row.mb-2
  .span4
    .homepage-box.homepage-box-short
      %h2.homepage-box-title
        =link_to("Twitter", "https://twitter.com/#!/panpromoters", :target => "_blank")
      .homepage-box-content
        -if tweet = latest_tweet("panpromoters")
          %p=auto_link(tweet.text)
  .span4
    .homepage-box.homepage-box-short
      .homepage-box-content
        %ul.unstyled
          %li=link_to("Facebook", "http://www.facebook.com/PromotersArtsNetwork?ref=ts", :target => "_blank")
          %li=link_to("Youtube", "#")
          %li=link_to("Vimeo", "#")
          %li=link_to("Flickr", "#")
  .span4
    %h2.homepage-box-title
      Our supporters
    .row.mb-2
      -4.times do
        .span1=image_placeholder("60x60")
    .row
      -4.times do
        .span1=image_placeholder("60x60")