.container
.container.fade_in
  .row
    .span3
      #profile-info.left-col.well
        =link_to user_path(current_user), :class=>"profile-image" do
          =image_for(current_user, "80x")
        .clearfix.mb-1
        %h2=link_to(current_user, user_path(current_user))
        %ul.nav.messages-and-notifications
          %li
            =link_to "#{user_path(current_user)}/#notifications" do
              %i.icon-user
              %strong.red
                =current_user.other_notifications.count
              notifications
              %span.view.red
                view
          %li
            =link_to "#{user_path(current_user)}/#messages" do
              %i.icon-envelope-alt
              %strong.red
                =current_user.message_notifications.count
              messages
              %span.view.red
                view
        %ul.nav
          -if current_user.performer
            %li
              %i.icon-star
              %h3 My shows
              -if @tours.present?
                -@tours.each do |tour|
                  =link_to tour.name, tour
              -else
                =link_to "None yet - add one", new_performer_tour_path(current_user.performer) 
          -if current_user.promoter
            %li
              %i.icon-group
              %h3 My organisation
              =link_to_self current_user.promoter
          -unless current_user.performer
            %li
              %i.icon-home
              %h3 My venue(s)
              -if current_user.venues.present?
                -current_user.venues.each do |venue|
                  =link_to venue, venue_path(venue)
              -else
                =link_to "None yet - add one", new_promoter_venue_path(current_user)
            %li
              %i.icon-comments
              %h3 My groups
              -if current_user.groups.present?
                -current_user.groups.each do |group|
                  =link_to_self group  
              -else    
                =link_to "None yet - find one", groups_path          
    .span6      
      -if current_user.try(:performer_id)
        =render('performer_home')
      -else
        .well
          %h2.underline.mb-1 Latest Shows
          .latest-shows
            #latest-news-carousel.carousel.slide
              .carousel-inner
                -@latest_shows.each_with_index do |show, index|
                  %div{:class => "item #{index == 1 ? 'active' : ''}"}
                    =link_to show, :class=>"carousel-link-image" do
                      =image_for(show, '428x289#')
                    .carousel-caption
                      %h4
                        =link_to_self show, :class=>"carousel-link-title"
              =link_to "#latest-news-carousel", :class=>"carousel-control left", :"data-slide"=> "prev" do
                %i.icon-chevron-left
              =link_to "#latest-news-carousel", :class=>"carousel-control right", :"data-slide"=> "next" do
                %i.icon-chevron-right              
            %h2.underline.mb-1 Recent Activity
            -if @recent_activity.size == 0
              %h4 No activity
            -else
              %ul.news-feed.unstyled
                #recent-activity
                  =render 'home/recent_activity_items', :recent_activity => @recent_activity
              .clearfix
              -if @recent_activity.next_page
                .center
                  =link_to "More activity", root_path(:page => @recent_activity.next_page), :remote => true, :id => "more-activity-btn"

              
              
              
        
    .span3
      #noticeboard.well
        %h2.underline.mb-1=link_to_slug("Noticeboard", :noticeboard)
        %ul.unstyled
          -if @pages.count ==0 
            There is nothing on the noticeboard at the moment.
          -@pages.each do |page|
            %li
              =link_to page, :class=>"list-item-title" do
                %h4=page.title
              %p
                -if page.summary
                  =truncate(page.summary, :length => 200)
                -else
                  =truncate(page.text, :length => 200).html_safe  
                =link_to "Read more", page, :class=>"read-more"

    .span3
      #upcoming-events
        %h2.underline.mb-1 Upcoming Events
        -if @upcoming_events.size == 0
          %h3 None
        -else
          %ul.upcoming-events.news-feed.news-feed-calendar.unstyled
            -@upcoming_events.each do |event|
              %li
                .news-feed-image
                  .calendar-icon
                    %span.calendar-icon-date
                      =event.date.stamp('31')
                    %span.calendar-icon-month
                      =event.date.stamp('Sep')
                .news-feed-text  
                  %h3
                    =link_to_self event.tour
                  %p.event-list-venue
                    =link_to event.venue do
                      %i.icon-home
                      =event.venue
                  %p.event-list-time    
                    =format_time(event.time)
          
-if false
  .row.mb-2.fade_in
    #headline_image.span8.fade_in
      .homepage-box
        %h2.homepage-box-title{:style => "margin-top: 110px;text-align: center;"}
          %small How it works illustration goes here
    .span4
      .homepage-box
        %h2.homepage-box-title
          =link_to_slug('about-tourbook')
        .homepage-box-content
          =summarize(Page.find_by_slug('about-tourbook'), :length => 200)
        .homepage-box-links
          =link_to_slug("Find out more", 'about-tourbook', :class=>"btn")
          =link_to_slug("Find out more", 'about-tourbook', :class=>"btn btn-primary")
  .row.mb-2.fade_in
    .span4
      .homepage-box
        %h2.homepage-box-title
          =link_to_slug('about-pan')
        .homepage-box-content
          =summarize(Page.find_by_slug('about-pan'), :length => 200)
        .homepage-box-links
          =link_to_slug("Find out more", 'about-pan')
        .homepage-box-links
          =link_to("Explore our venues", venues_path)
    .span4
      .homepage-box
        %h2.homepage-box-title
          =link_to_slug('Promote your company in Scotland', :for_promoters)
        .homepage-box-content
          %p If you are performing arts company wanting to promote your events in the Highlands and Islands of Scotland then sign up here.
        .homepage-box-links
          =link_to_slug('Sign up for FREE', :for_promoters)
    .span4
      .homepage-box
        %h2.homepage-box-title
          =link_to_slug('Join the promoter community', :register)
        .homepage-box-content
          %p If you are a member of PAN then you can access the community tools here.
        .homepage-box-links
          =link_to_slug('Register', :register)
  .row.mb-2.fade_in
    .span4
      .homepage-box.homepage-box-short
        %h2.homepage-box-title
          =link_to("Twitter", "http://twitter.com/panpromoters", :target => "_blank")
        .homepage-box-content
          -if tweet = latest_tweet("panpromoters", :count => 30)
            %p=auto_link(tweet.text)
    .span4
      #social_media_links.homepage-box.homepage-box-short
        .homepage-box-content
          %ul.unstyled
            %li=link_to("Facebook", "http://www.facebook.com/PromotersArtsNetwork", :target => "_blank")
            %li=link_to("Youtube", "#")
            %li=link_to("Vimeo", "#")
            %li=link_to("Flickr", "#")
    .span4
      %h2.homepage-box-title
        Our supporters
      .row.mb-2
        -4.times do
          .span1=image_placeholder("60x60")
      .row
        -4.times do
          .span1=image_placeholder("60x60")          