.well.mt-2
  %p
    Unfortunately, your membership has been suspended because your promoter has not renewed their membership.
    =link_to_slug 'Contact Tourbook', 'contact'
    if you have any questions about this.