.alert
  %i.icon-info-sign
  Use this form to edit your name and contact details.
=form.inputs do
  =form.input :first_name
  =form.input :last_name
  =form.input :email
  =form.input :phone
  -if user.new_record?
    =form.input :password
