.nested-fields
  =f.input :venue_id, :as => :hidden
  =f.input :external_venue_name, :as => :hidden
  =f.input :booked, :as => :hidden
  =f.input :date_s, :as => :hidden
  =link_to_remove_association "x Remove date", f, :class => "pull-left"