=semantic_form_for(@tour, :html => {:multipart => true}) do |form|
  =error_alert(@tour)
  -if(params[:action] == "edit")
    =tabs('details', ["slideshow", "Media"], ['requirements', 'Technical requirements'], 'availability', 'external_reviews/tabs/reviews','pricing', 'manage_bookings', :form => form)
  -else
    =tabs('details', ["slideshow", "Media"], ['requirements', 'Technical requirements'], 'availability', 'external_reviews/tabs/reviews','pricing', :form => form)  
  =form.buttons do
    =form.commit_button "Save all show details", :button_html => {:class => 'btn-primary'}