=semantic_form_for(@tour, :html => {:multipart => true}) do |form|
  =error_alert(@tour)
  =tabs('details', 'organisations/tabs/links', ['requirements', 'Technical requirements'], ['suitability', 'Venue suitability'], 'availability', 'external_reviews/tabs/reviews', :form => form) 
  
  =form.buttons do
    =form.commit_button "Save", :button_html => {:class => 'btn-primary'}