=semantic_form_for(tour, :html => {:multipart => true}) do |form|
  =tabs('details', ['requirements', 'Technical requirements'], ['suitability', 'Venue suitability'], 'availability', :form => form) 
  
  =form.buttons do
    =form.commit_button "Save"