-filtered_tours = @tag ? tours.order('start_on').tagged_with(@tag, :on => @tag_context) : tours.order('start_on').send(future_past_all)
-if filtered_tours.empty?
  %p No tours found.
-else
  %table.table
    %tbody
      -filtered_tours.each do |tour|
        %tr
          %td.span2
            =image_for(tour, "100x100#", :class => "pull-left mr-1")
          %td
            %h3
              =link_to_self(tour)
              %small=tour.dates_string
            =simple_format(truncate(tour.description.to_s, :length => 300))
            -if !tour.booked_dates.empty?
              %h4 Shows
              %ul.unstyled
                -tour.booked_dates.send(future_past_all || 'all').each do |tour_date|
                  %li
                    =tour_date.date.to_s(:month_day_year_or_not)
                    -if tour_date.venue
                      \-
                      =link_to_self(tour_date.venue)
                    -elsif tour_date.external_venue_name.present?
                      ="- #{tour_date.external_venue_name}"
            -if future_past_all == 'all' && can?(:edit, tour)
              .options_panel
                =link_to("Edit tour", edit_tour_path(tour))