.row
  .span12.mb-1
    %h1.pull-left
      =title("Tours")
      -if performer
        %small=link_to_self(performer)
.row
  .span12
    %ul.nav.nav-tabs
      -if @tag
        -if can?(:edit, Tour)
          %li=link_to("All", tours_path(:anchor => 'all'))
        %li=link_to("Upcoming", tours_path(:anchor => 'future'))
        %li=link_to("Past", tours_path(:anchor => 'past'))
        %li.active
          =link_to("#{@tag_context.singularize.titleize} &rarr; #{@tag.to_s.titleize.humanize}".html_safe, '#')
      -else
        -if can?(:edit, Tour)
          %li=link_to("All", '#all', :"data-toggle" => "tab")
        %li{:class => "#{@tag.nil? ? 'active' : ''}"}=link_to("Upcoming", '#future', :"data-toggle" => "tab")
        %li=link_to("Past", '#past', :"data-toggle" => "tab")
    .tab-content
      -if @tag
        .tab-pane.active
          =render("tours/table", :future_past_all => nil)
      -else
        -%w{future past all}.each do |future_past_all|
          .tab-pane{:id => future_past_all, :class => "#{future_past_all == 'future' ? 'active' : ''}"}
            =render("tours/table", :future_past_all => future_past_all)
.row
  .span12
    =options_panel do
      =back_link
      -if performer && can?(:new, performer.tours.build)
        =link_to("Add a tour", new_performer_tour_path(performer))