.row
  .span3
    .row.profile-left-col
      .span3
        =image_for(tour, "220x")
      .span3.mt-2
        %h4=pluralize(22, 'Review')
        %table.unstyled
          %tr
            %td Excellent
            %td
              -3.times do
                %i.icon.icon-star
          %tr
            %td Very good
            %td
              -1.times do
                %i.icon.icon-star
          %tr
            %td Average
          %tr
            %td Poor
          %tr
            %td Terrible
      -if !tour.performer.links.empty?
        .span3.mt-2
          %h4 Links
          %ul.unstyled.links
            -tour.performer.links.each do |link|
              %li
                =image_tag(link.favicon)
                =link_to(link, link.url, :target => '_blank')
      -if tour.contact1_details.present?
        .span3.mt-2
          %h4 Primary contact
          =auto_link(tour.contact1_details.join("<br />").html_safe)
      -if tour.contact2_details.present?
        .span3.mt-2
          %h4 Secondary contact
          =auto_link(tour.contact2_details.join("<br />").html_safe)
      -if tour.dates.future.present?
        .span3.mt-2
          %h4 Upcoming shows
          %ul.unstyled
            -tour.dates.future.each do |tour_date|
              %li
                =tour_date.date.to_s(:month_day_year_or_not)
                \-
                =link_to_self(tour_date.venue)
      -if !tour.dates.past.empty?
        .span3.mt-2
          %h4 Past shows
          %ul.unstyled
            -tour.dates.past.reorder('date DESC').each do |tour_date|
              %li
                =tour_date.date.to_s(:month_day_year_or_not)
                \-
                =link_to_self(tour_date.venue)          
      -if tour.sibling_tours.present?
        .span3.mt-2
          %h4 Other shows
          %ul.unstyled
            -tour.performer.tour_dates.where(["tours.id != ?", tour.id]).each do |tour_date|
              %li
                ="#{tour_date.tour} #{tour_date.date.to_s(:date)}"
                =link_to("view", tour_date.tour)
        
  .span9
    %h1.mb-1
      =title(tour)
      %small=link_to_self(tour.performer)
    =simple_format(tour.description)
    .row.mt-2
      .span5
        %h4 Technical requirements
        %table
          -if tour.min_playing_area.present?
            %tr
              %td.span3 Minimum playing area required
              %td.span2="#{tour.min_playing_area} sq m"
          -tour.technical_details.each do |detail, true_false|
            %tr
              %td.span3=detail
              %td.span2=true_false.yes_or_no.capitalize
      .span4
        %h4 Venue suitability
        %table
          -tour.venue_suitability.each do |venue_type, true_false|
            %tr
              %td.span3=venue_type
              %td.span1=true_false.yes_or_no.capitalize
    .row.mt-2
      -if tour.requirements.present?
        .span9
          %h4 Other requirements
          =simple_format(tour.requirements)
      -if tour.target_age.present?
        .span9
          %h4 Target age range/style
          =simple_format(tour.target_age)
      -if tour.running_time.present?
        .span9
          %h4 Running time/with and without interval
          =simple_format(tour.running_time)
      -if tour.publicity.present?
        .span9
          %h4 Will publicity be provided?
          =simple_format(tour.publicity)
      -if tour.fees.present?
        .span9
          %h4 Fees
          =simple_format(tour.fees)
            
.row.mt-2
  .span9
    =options_panel do
      =back_link
      -if can?(:edit,tour)
        =link_to("Edit tour", edit_tour_path(tour))
        =link_to("Edit tour dates", edit_tour_path(tour, :anchor => "dates"))
      =link_if_can("Delete tour", [:destroy, tour], :confirm => "Are you sure?")
