=content_for :head do
  :javascript
    function scrollToCommentInput() {
      YmCore.scrollTo($('#new_post'));
    }
    $(document).ready(function() {
      $('#go-to-comment').click(function(event) {
        event.preventDefault();
        $('#tour-tabs a[href="#comments"]').tab('show');
        window.setTimeout(scrollToCommentInput, 200);
      });
    });

.row
  .span12
    %h1.tour
      %i.icon-star
      =tour.name
.row
  .span3
    .row.profile-left-col
      .well
        =image_for(tour, "220x150#")
        .performer
          %h4
            =link_to tour.performer do
              %i.icon-user
              =tour.performer
        .date-and-genres
          %h4=tour.dates_string
          =link_to diary_path(:tour_id => tour.id), :class => "tour-diary-link" do
            %i.icon-calendar
            Diary
          -if tour.genre_list.present?
            .genres
              =comma_list_tags(tour, :genres)
        -if tour.links_or_performer_links.present?
          -if tour.links_or_performer_links_without_twitter_and_facebook.present?
            %ul.unstyled.links
              -tour.links_or_performer_links_without_twitter_and_facebook.each do |link|
                %li
                  =link_to(link, link.url, :target => '_blank')
          -if tour.links_or_performer_links_only_twitter_and_facebook.present?
            -tour.links_or_performer_links_only_twitter_and_facebook.each do |link|
              =facebook_twitter_link(link)
          .black-block-links
            =link_to "", :class => "btn" do
              %i.icon-envelope
              Send a message
            =link_to "", :class => "btn" do
              %i.icon-heart
              I'm interested
            =link_to "", :class => "btn", :id => "go-to-comment" do
              %i.icon-pencil
              Post a comment
            =link_to "", :class => "btn" do
              %i.icon-comment
              Provide feedback

  .span9
    %ul.nav.nav-tabs#tour-tabs
      %li.active
        =link_to  "About", "#about", :'data-toggle' => 'tab'
      %li
        =link_to "Tech Spec", "#spec", :'data-toggle' => 'tab'
      -#
        %li
          =link_to "Media", "#media", :'data-toggle' => 'tab'
      %li
        =link_to "Reviews", "#reviews", :'data-toggle' => 'tab'
      %li
        =link_to "Pricing", "#pricing", :'data-toggle' => 'tab'
      %li
        =link_to "Updates", "#updates", :'data-toggle' => 'tab'
      %li
        =link_to "Comments", "#comments", :'data-toggle' => 'tab'
    .tab-content
      #about.tab-pane.fade.in.active
        .well
          =simple_format(tour.description)

      #spec.tab-pane.fade.in
        .well
          .row
            .span4
              %table.table.table-bordered.table-striped.tech-details.mb-2.mt-1
                %thead
                  %tr
                    %th
                      %h3
                        Technical requirements
                %tbody
                  -if tour.min_playing_area.present?
                    %tr
                      %td
                        Minimum playing area required
                      %td
                        =description_tag("","#{tour.min_playing_area} sq m")
                  %tr
                    %td
                      Do you need a blackout?
                    %td
                      =description_tag("", tour.blackout_needed?.yes_or_no.titleize)
                  %tr
                    %td
                      Do you use lighting?
                    %td
                      =description_tag("", tour.uses_lighting?.yes_or_no.titleize)
                  %tr
                    %td
                      Do you tour your own lighting?
                    %td
                      =description_tag("", tour.uses_own_lighting?.yes_or_no.titleize)
                  %tr
                    %td
                      Do you use sound?
                    %td
                      =description_tag("", tour.uses_sound?.yes_or_no.titleize)          


            .span4
              %table.table.table-bordered.table-striped.tech-details.mb-2.mt-1
                %thead
                  %tr
                    %th
                      %h3
                        Venue suitability
                %tbody
                  %tr
                    %td
                      Arts venue
                    %td
                      =description_tag("", tour.suits_arts_venue?.yes_or_no.titleize)
                  %tr
                    %td
                      Village/community hall
                    %td
                      =description_tag("", tour.suits_village_hall?.yes_or_no.titleize)
                  %tr
                    %td
                      School hall
                    %td
                      =description_tag("", tour.suits_school_hall?.yes_or_no.titleize)
                  %tr
                    %td
                      Outdoors
                    %td
                      =description_tag("", tour.suits_outdoors?.yes_or_no.titleize)
                   
          
          -if tour.requirements.present? || tour.target_age.present? || tour.running_time.present? || tour.publicity.present? || tour.fees.present?
            .row
              .span8
                %table.table.table-bordered.table-striped.tech-details.mb-2
                  %thead
                    %tr
                      %th
                        %h3
                          Other
                  %tbody
                    -if tour.requirements.present?
                      %tr
                        %td
                          Other requirements
                        %td
                          =simple_format(tour.requirements)
                    -if tour.target_age.present?
                      %tr
                        %td
                          Target age range/style
                        %td
                          =simple_format(tour.target_age)
                    -if tour.running_time.present?
                      %tr
                        %td
                          Running time/with and without interval
                        %td
                          =simple_format(tour.running_time)
                    -if tour.publicity.present?
                      %tr
                        %td
                          Will publicity be provided?
                        %td
                          =simple_format(tour.publicity)
                    

      #media.tab-pane.fade.in
        .row
          .span9
            .well
            
      #reviews.tab-pane.fade.in
        .row
          .span9
            .well
              -tour.external_reviews.each do |review|
                =simple_format(review.review)
      
      #pricing.tab-pane.fade.in
        .row
          .span9
            .well
              -if tour.fees.present?
                =simple_format(tour.fees)
              -else
                No pricing information has been added.
            
      #updates.tab-pane.fade.in
        .row
          .span9
            .well
            
      #comments.tab-pane.fade.in
        .row
          .span9
            .well
              .row
                .span8
                  -if can?(:create, Post)
                    =render("posts/remote_form", :post => current_user.posts.build(:target => tour))
                  =render("posts/posts", :posts => tour.posts.page(params[:page]))
            
    -#                        
      .span3
        .well
          -if current_user.promoter
            =render("helpboxes/tour_promoter")
          -elsif logged_in_as_site_admin?
            =render("helpboxes/tour_site_admin")
          -elsif logged_in_as_performer?(performer)
            =render("helpboxes/performer_tour_admin")
            
      
      .span3.mt-2
        %h4=pluralize(tour.reviews.count, 'Review')
        %div=rating_stars(tour.overall_rating)
        %ul.unstyled
          %li=link_to 'Read reviews', tour_reviews_path(tour) unless tour.reviews.count.zero?
          %li=link_to 'Write a review', new_tour_review_path(tour)
      -if tour.links_or_performer_links.present?
        .span3.mt-2
          %h4 Links
          %ul.unstyled.links
            -tour.links_or_performer_links.each do |link|
              %li
                =image_tag(link.favicon)
                =link_to(link, link.url, :target => '_blank')
      -if tour.contact1_details.present?
        .span3.mt-2
          %h4 Primary contact
          =auto_link(tour.contact1_details.join("<br />").html_safe)
      -if tour.contact2_details.present?
        .span3.mt-2
          %h4 Secondary contact
          =auto_link(tour.contact2_details.join("<br />").html_safe)
                
      -future_tour = tour.performer.tours.order(:end_on).where("end_on > :now", now: Time.now)
      -if logged_in_as_performer?(performer) || future_tour.present?
        .span3.mt-2
          %h4
            ="Upcoming #{future_tour.count > 1 ? "tours" : "tour"}"
          -if future_tour.nil?
            .italic
              =link_to("Click here", new_performer_tour_path(tour.performer))
              to enter information about your next tour.
          -elsif future_tour.empty?
            .italic
              =link_to("Click here", performer_tours_path(tour.performer, :anchor => 'all'))
              to manage all your tours and dates.
          -else
            %ul.unstyled
              -future_tour.each do |tour|
                %li
                  =link_to(tour.name_with_dates, tour)
      -if !tour.performer.tours.past.empty?
        .span3.mt-2
          %h4 Past tours
          =link_to("View all past shows", performer_tours_path(tour.performer, :anchor => 'past'))      

                
            
.row
  .span9
    =options_panel do
      =back_link
      =link_to("Edit tour", edit_tour_path(tour)) if can?(:edit,tour)
      =link_if_can("Delete tour", [:destroy, tour], :confirm => "Are you sure?")
      =link_to("Manage bookings", bookings_tour_path(tour)) if can?(:bookings, tour)
