=content_for :head do
  :javascript
    function scrollToCommentInput() {
      YmCore.scrollTo($('#new_post'));
    }
    $(document).ready(function() {
      $('#go-to-comment').click(function(event) {
        event.preventDefault();
        $('#tour-tabs a[href="#comments"]').tab('show');
        window.setTimeout(scrollToCommentInput, 200);
      });
    });

.row
  .span12
    %h1.tour
      %i.icon-star
      =tour.name
.row
  .span3
    .row.profile-left-col
      .well
        =tour.image.present? ? image_for(tour, "220x150#") : image_tag("placeholder-show.jpg")
        .performer
          %h4
            =link_to tour.performer do
              %i.icon-user
              =tour.performer
        .date-and-genres
          %h4=tour.dates_string
          -if tour.genre_list.present?
            .show-tags
              -tour.genres.each do |tag|
                =link_to directory_path(:letter => 'A', :tags => [tag.name]), :class => "tag #{tag.name}" do
                  %span.label.tag-label=tag.name
            .clearfix
        %ul.unstyled.links             
          %li            
            =link_to(tour.performer.website_url, tour.performer.website_url, :target => '_blank') if tour.performer.website_url
          %li
            =link_to(content_tag(:i, "", :class => "icon-facebook"), tour.performer.facebook_url, :target => '_blank') if tour.performer.facebook_url          
            =link_to(content_tag(:i, "", :class => "icon-twitter"), tour.performer.twitter_url, :target => '_blank') if tour.performer.twitter_url
            =link_to(content_tag(:i, "", :class => "icon-youtube"), tour.performer.youtube_url, :target => '_blank') if tour.performer.youtube_url  
        .black-block-links
          =link_to new_performer_message_path(tour.performer), :class => "btn" do
            %i.icon-envelope
            Send a message
          =link_to "#interested", :'data-toggle' => "modal", :class => "btn" do
            %i.icon-heart
            I'm interested
          =link_to "", :class => "btn", :id => "go-to-comment" do
            %i.icon-pencil
            Post a comment
          -if can?(:edit,tour)
            =link_to edit_tour_path(tour), {:class => "btn"} do
              %i.icon-edit
              Edit Show                                        

  .span9
    %ul.nav.nav-tabs#tour-tabs
      %li.active
        =link_to  "About", "#about", :'data-toggle' => 'tab'
      %li
        =link_to "Media", "#media", :'data-toggle' => 'tab'    
      %li
        =link_to "Diary", "#diary", :'data-toggle' => 'tab'
      %li
        =link_to "Tech Spec", "#spec", :'data-toggle' => 'tab'    
      %li
        =link_to "Press Reviews", "#reviews", :'data-toggle' => 'tab'
      %li
        =link_to "Pricing", "#pricing", :'data-toggle' => 'tab'
      %li
        =link_to "Updates", "#updates", :'data-toggle' => 'tab'
      %li
        =link_to "Comments", "#comments", :'data-toggle' => 'tab'
    .tab-content
      #about.tab-pane.fade.in.active
        .well
          =simple_format(tour.description)
          
      #media.tab-pane.fade.in
        .well
          -if tour.slideshow.present? 
            =render("organisations/media", :slideshow => tour.slideshow)
            .clearfix
          -else
            No media present          

      #spec.tab-pane.fade.in
        .well
          .row
            .span4
              %table.table.table-bordered.table-striped.tech-details.mb-2.mt-1
                %thead
                  %tr
                    %th
                      %h3
                        Technical requirements
                %tbody
                  -if tour.min_playing_area.present?
                    %tr
                      %td
                        Minimum playing area required
                      %td
                        =description_tag("","#{tour.min_playing_area} sq m")
                  %tr
                    %td
                      Do you need a blackout?
                    %td
                      =description_tag("", tour.blackout_needed?.yes_or_no.titleize)
                  %tr
                    %td
                      Do you use lighting?
                    %td
                      =description_tag("", tour.uses_lighting?.yes_or_no.titleize)
                  %tr
                    %td
                      Do you tour your own lighting?
                    %td
                      =description_tag("", tour.uses_own_lighting?.yes_or_no.titleize)
                  %tr
                    %td
                      Do you use sound?
                    %td
                      =description_tag("", tour.uses_sound?.yes_or_no.titleize)          


            .span4
              %table.table.table-bordered.table-striped.tech-details.mb-2.mt-1
                %thead
                  %tr
                    %th
                      %h3
                        Venue suitability
                %tbody
                  %tr
                    %td
                      Arts venue
                    %td
                      =description_tag("", tour.suits_arts_venue?.yes_or_no.titleize)
                  %tr
                    %td
                      Village/community hall
                    %td
                      =description_tag("", tour.suits_village_hall?.yes_or_no.titleize)
                  %tr
                    %td
                      School hall
                    %td
                      =description_tag("", tour.suits_school_hall?.yes_or_no.titleize)
                  %tr
                    %td
                      Outdoors
                    %td
                      =description_tag("", tour.suits_outdoors?.yes_or_no.titleize)
                   
          
          -if tour.requirements.present? || tour.target_age.present? || tour.running_time.present? || tour.publicity.present? || tour.fees.present?
            .row
              .span8
                %table.table.table-bordered.table-striped.tech-details.mb-2
                  %thead
                    %tr
                      %th
                        %h3
                          Other
                  %tbody
                    -if tour.requirements.present?
                      %tr
                        %td
                          Other requirements
                        %td
                          =simple_format(tour.requirements)
                    -if tour.target_age.present?
                      %tr
                        %td
                          Target age range/style
                        %td
                          =simple_format(tour.target_age)
                    -if tour.running_time.present?
                      %tr
                        %td
                          Running time/with and without interval
                        %td
                          =simple_format(tour.running_time)
                    -if tour.publicity.present?
                      %tr
                        %td
                          Will publicity be provided?
                        %td
                          =simple_format(tour.publicity)
                    

      #media.tab-pane.fade.in
        .row
          .span9
            .well
            
      #reviews.tab-pane.fade.in
        .row
          .span9
            .well
              -if tour.external_reviews.count == 0
                There are no press reviews yet.
              -else  
                -tour.external_reviews.each do |review|
                  =simple_format(review.review)

      #diary.tab-pane.fade.in
        .row
          .span9
            .well
              =render("diary", :dates => tour.booked_dates)      


      #pricing.tab-pane.fade.in
        .row
          .span9
            .well
              -if tour.fees.present?
                =simple_format(tour.fees)
              -else
                No pricing information has been added.
            
      #updates.tab-pane.fade.in
        .row
          .span9
            .well
              .row
                .span8
                  -if tour.updates.empty?
                    %p This show has no updates.                    
                  -else                    
                    =render("posts/posts", :posts => tour.updates.page(params[:page]))
                  -if can?(:create, Post) && (tour.performer.users.include?(current_user) || current_user.admin?)
                    =render("posts/remote_form", :post => current_user.updates.build(:target => tour))                  
            
      #comments.tab-pane.fade.in
        .row
          .span9
            .well
              .row
                .span8
                  -if can?(:create, Post)
                    %p
                      Use this space to discuss or comment on the show. Comments are only visible to other promoters, not performers, so feel free to be honest - but please be constructive and considerate in your remarks.
                    =render("posts/remote_form", :post => current_user.posts.build(:target => tour))                    
                    =render("posts/posts", :posts => tour.posts.page(params[:page]))

=render 'interested_modal'

.row.mt-2
  .span9
    =options_panel do
      =link_to "#{content_tag(:i, nil, :class => 'icon-arrow-left')}Back".html_safe, :back, :class => "btn black-block-links"   