=content_for :head do
  :javascript
    function scrollToCommentInput() {
      YmCore.scrollTo($('#new_post'));
    }
    $(document).ready(function() {
      $('#go-to-comment').click(function(event) {
        event.preventDefault();
        $('#tour-tabs a[href="#comments"]').tab('show');
        window.setTimeout(scrollToCommentInput, 200);
      });
    });

.row
  .span12
    %h1.tour
      %i.icon-star
      =tour.name
.row
  .span3
    .row.profile-left-col
      .well
        =image_for(tour, "220x150#")
        .performer
          %h4
            =link_to tour.performer do
              %i.icon-user
              =tour.performer
        .date-and-genres
          %h4=tour.dates_string
          -if false
            =link_to diary_path(:tour_id => tour.id), :class => "tour-diary-link" do
              %i.icon-calendar
              Diary
          -if tour.genre_list.present?
            .genres
              =comma_list_tags(tour, :genres)
        -if tour.links_or_performer_links.present?
          -if tour.links_or_performer_links_without_twitter_and_facebook.present?
            %ul.unstyled.links
              -tour.links_or_performer_links_without_twitter_and_facebook.each do |link|
                %li
                  =link_to(link, link.url, :target => '_blank')
          -if tour.links_or_performer_links_only_twitter_and_facebook.present?
            -tour.links_or_performer_links_only_twitter_and_facebook.each do |link|
              =facebook_twitter_link(link)
          .black-block-links
            =link_to "", :class => "btn" do
              %i.icon-envelope
              Send a message
            =link_to "#interested", :'data-toggle' => "modal", :class => "btn" do
              %i.icon-heart
              I'm interested
            =link_to "", :class => "btn", :id => "go-to-comment" do
              %i.icon-pencil
              Post a comment
            =link_to "", :class => "btn" do
              %i.icon-comment
              Provide feedback

  .span9
    %ul.nav.nav-tabs#tour-tabs
      %li.active
        =link_to  "About", "#about", :'data-toggle' => 'tab'
      %li
        =link_to "Tech Spec", "#spec", :'data-toggle' => 'tab'
      %li
        =link_to "Media", "#media", :'data-toggle' => 'tab'
      %li
        =link_to "Press Reviews", "#reviews", :'data-toggle' => 'tab'
      %li
        =link_to "Diary", "#diary", :'data-toggle' => 'tab'        
      %li
        =link_to "Pricing", "#pricing", :'data-toggle' => 'tab'
      %li
        =link_to "Updates", "#updates", :'data-toggle' => 'tab'
      %li
        =link_to "Comments", "#comments", :'data-toggle' => 'tab'
    .tab-content
      #about.tab-pane.fade.in.active
        .well
          =simple_format(tour.description)

      #spec.tab-pane.fade.in
        .well
          .row
            .span4
              %table.table.table-bordered.table-striped.tech-details.mb-2.mt-1
                %thead
                  %tr
                    %th
                      %h3
                        Technical requirements
                %tbody
                  -if tour.min_playing_area.present?
                    %tr
                      %td
                        Minimum playing area required
                      %td
                        =description_tag("","#{tour.min_playing_area} sq m")
                  %tr
                    %td
                      Do you need a blackout?
                    %td
                      =description_tag("", tour.blackout_needed?.yes_or_no.titleize)
                  %tr
                    %td
                      Do you use lighting?
                    %td
                      =description_tag("", tour.uses_lighting?.yes_or_no.titleize)
                  %tr
                    %td
                      Do you tour your own lighting?
                    %td
                      =description_tag("", tour.uses_own_lighting?.yes_or_no.titleize)
                  %tr
                    %td
                      Do you use sound?
                    %td
                      =description_tag("", tour.uses_sound?.yes_or_no.titleize)          


            .span4
              %table.table.table-bordered.table-striped.tech-details.mb-2.mt-1
                %thead
                  %tr
                    %th
                      %h3
                        Venue suitability
                %tbody
                  %tr
                    %td
                      Arts venue
                    %td
                      =description_tag("", tour.suits_arts_venue?.yes_or_no.titleize)
                  %tr
                    %td
                      Village/community hall
                    %td
                      =description_tag("", tour.suits_village_hall?.yes_or_no.titleize)
                  %tr
                    %td
                      School hall
                    %td
                      =description_tag("", tour.suits_school_hall?.yes_or_no.titleize)
                  %tr
                    %td
                      Outdoors
                    %td
                      =description_tag("", tour.suits_outdoors?.yes_or_no.titleize)
                   
          
          -if tour.requirements.present? || tour.target_age.present? || tour.running_time.present? || tour.publicity.present? || tour.fees.present?
            .row
              .span8
                %table.table.table-bordered.table-striped.tech-details.mb-2
                  %thead
                    %tr
                      %th
                        %h3
                          Other
                  %tbody
                    -if tour.requirements.present?
                      %tr
                        %td
                          Other requirements
                        %td
                          =simple_format(tour.requirements)
                    -if tour.target_age.present?
                      %tr
                        %td
                          Target age range/style
                        %td
                          =simple_format(tour.target_age)
                    -if tour.running_time.present?
                      %tr
                        %td
                          Running time/with and without interval
                        %td
                          =simple_format(tour.running_time)
                    -if tour.publicity.present?
                      %tr
                        %td
                          Will publicity be provided?
                        %td
                          =simple_format(tour.publicity)
                    

      #media.tab-pane.fade.in
        .row
          .span9
            .well
            
      #reviews.tab-pane.fade.in
        .row
          .span9
            .well
              -if tour.external_reviews.count == 0
                There are no press reviews yet.
              -else  
                -tour.external_reviews.each do |review|
                  =simple_format(review.review)

      #diary.tab-pane.fade.in
        .row
          .span9
            .well
              =render("diary", :tour => tour)      


      #pricing.tab-pane.fade.in
        .row
          .span9
            .well
              -if tour.fees.present?
                =simple_format(tour.fees)
              -else
                No pricing information has been added.
            
      #updates.tab-pane.fade.in
        .row
          .span9
            .well
            
      #comments.tab-pane.fade.in
        .row
          .span9
            .well
              .row
                .span8
                  -if can?(:create, Post)
                    =render("posts/remote_form", :post => current_user.posts.build(:target => tour))
                  =render("posts/posts", :posts => tour.posts.page(params[:page]))

=render 'interested_modal'
            
.row
  .span9
    =options_panel do
      =back_link
      =link_to("Edit show", edit_tour_path(tour)) if can?(:edit,tour)
      =link_if_can("Delete show", [:destroy, tour], :confirm => "Are you sure?")
      =link_to("Manage bookings", bookings_tour_path(tour)) if can?(:bookings, tour)
      =link_to("Add new show", new_performer_tour_path(tour.performer)) if can?(:create,tour)
