=semantic_form_for(venue, :html => {:multipart => true}) do |form|
  =error_alert(venue)
  =tabs('details', 'technical', 'organisations/tabs/links', ['contact_info', "Address & Contact Info"], ["slideshow", "Photo gallery"], ['organisations/tabs/resources','Downloads'], :form => form)
  =form.buttons do
    =form.commit_button "Save", :button_html => {:class => 'btn-primary'}