=semantic_form_for(venue, :html => {:multipart => true}) do |form|
  =tabs('details', 'technical', 'links', ['contact_info', "Address & Contact Info"], ["slideshow", "Photo gallery"], :form => form)
  =form.buttons do
    =form.commit_button "Save"