.alert
  %b.icon-info-sign
  Click on "+Add a link" to build a list of relevant links below
-content_for(:head) do
  :javascript
    $(document).ready(function() {
      Link.init();
      $('#links').bind('insertion-callback', function() {
        Link.init();
      });
    });
=form.semantic_fields_for :links do |link_form|
  =render("organisations/link_fields", :f => link_form)
=link_to_add_association "+ Add a link", form, :links, :partial => "organisations/link_fields", :"data-association-insertion-node" => '#links .add_fields'
