.navbar
  .navbar-inner
    .container
      %ul.nav
        =li_with_active(current_page?(community_path) || current_page?(posts_path), link_to("Latest", community_path))
        %li
          =link_to "#" do
            Notifications
            %span.badge 1
        %li=link_to("Members", "#")
        =li_with_active(controller_name == "resources", link_to("Resources", resources_path))
        %li=link_to("Leaderboard", "#")
        -if current_user
          =li_with_active(current_page?(current_user), link_to("My profile", current_user))