-title "Tag - #{current_tag}"
.container
  .row
    .span2
      %h3.mb-1 Top tags
      =render("tags/list", :tags => Tag.most_talked_about.limit(10), :current_tag => current_tag)    
    .span9
      .span6
        %h2.tag_title.mb-2
          Latest posts on 
          =tag_label(current_tag)
        -if can?(:create, Post)
          =render("posts/remote_form", :post => current_user.posts.build)
        =render("posts/posts", :posts => posts)