=semantic_form_for(performer, :html => {:multipart => true}) do |form|
  =tabs('details', 'links', 'contact_info', ["slideshow", "Photo gallery"], :form => form)
  =form.buttons do
    =form.commit_button "Save"