.row
  .span12
    %h1.pull-left
      =title("Performers")
    %form.form-search.pull-right{:action => search_performers_path, :method => 'get'}
      =text_field_tag 'q', params[:q], :class => "input-medium search-query"
      %input.btn{:type => 'submit', :value => "Search"}
      
.row
  .span12
    %ul.nav.nav-tabs
      =li_with_active(action_name.index?, link_to("Latest", performers_path))
      =li_with_active(action_name.directory?, link_to("A &ndash; Z".html_safe, directory_performers_path(:letter => 'A')))
      -if action_name.search?
        =li_with_active(true, link_to('Search', '#'))
      
-if action_name.directory?
  .row
    .span12
      %ul.nav.nav-pills
        -('A'..'Z').each do |letter|
          %li{:class => "#{'active' if @letter == letter}"}
            =link_to(letter, directory_performers_path(:letter => letter))
        %li{:class => "#{'active' if @letter == '0'}"}
          =link_to('#', directory_performers_path(:letter => '0'))
.row
  .span12    
    -if @performers.empty?
      %p
        There are no performers
        -if @query
          ="that match \"#{@query}\""
        -elsif @letter
          ="beginning with \"#{@letter}\""
    -else
      %table.table.table-bordered.table-striped
        %tbody
          -@performers.each do |performer|
            %tr
              %td.span4
                =image_for(performer, "50x50#", :class => "pull-left mr-1")
                %h4.pull-left=link_to_self(performer)
              %td.span8=truncate(performer.description.to_s, :length => 190)
.row
  .span8
    =options_panel do
      =link_if_can("New performer", [:new, Performer])