=content_for :head do
  :javascript
    function scrollToCommentInput() {
      YmCore.scrollTo($('#new_post'));
    }
    $(document).ready(function() {
      $('#go-to-comment').click(function(event) {
        event.preventDefault();
        $('#tour-tabs a[href="#comments"]').tab('show');
        window.setTimeout(scrollToCommentInput, 200);
      });
    });

.row
  .span12
    %h1.tour
      %i.icon-user
      =performer.name
.row
  .span3
    .row.profile-left-col
      .well
        =image_for(performer, "220x150#")
        -if performer.genre_list.present?
          .genres
            =comma_list_tags(performer, :genres)
        -if performer.tours.present?
          .performer-tours
            -if performer.tours.where("end_on < ?", Date.today).present?
              .current-tours
                %h4
                  %i.icon-star
                  Current shows
                -performer.tours.where("end_on < ?", Date.today).each do |tour|
                  =link_to_self tour
            -if performer.tours.where("end_on < ?", Date.today).present?
              .past-tours
                %h4
                  %i.icon-star
                  Past shows
                -performer.tours.where("end_on > ?", Date.today).each do |tour|
                  =link_to_self tour
        -if performer.links.present?
          -if performer.links_without_twitter_and_facebook.present?
            %ul.unstyled.links
              -performer.links_without_twitter_and_facebook.each do |link|
                %li
                  =link_to(link, link.url, :target => '_blank')
          -if performer.links_only_twitter_and_facebook.present?
            -performer.links_only_twitter_and_facebook.each do |link|
              =facebook_twitter_link(link)
          .black-block-links
            =link_to "", :class => "btn" do
              %i.icon-envelope
              Send a message
            =link_to "", :class => "btn" do
              %i.icon-heart
              Add to favourites
            =link_to "", :class => "btn", :id => "go-to-comment" do
              %i.icon-pencil
              Post a comment

  .span9
    %ul.nav.nav-tabs#tour-tabs
      %li.active
        =link_to  "About", "#about", :'data-toggle' => 'tab'
      %li
        =link_to "Media", "#media", :'data-toggle' => 'tab'
      %li
        =link_to "Reviews", "#reviews", :'data-toggle' => 'tab'
      %li
        =link_to "Updates", "#updates", :'data-toggle' => 'tab'
      %li
        =link_to "Comments", "#comments", :'data-toggle' => 'tab'
    .tab-content
      #about.tab-pane.fade.in.active
        .well
          =simple_format(performer.description)

      #spec.tab-pane.fade.in
        .well

      #media.tab-pane.fade.in
        .well
          -if performer.slideshow.present? 
            =render("organisations/slideshow", :slideshow => performer.slideshow)
            .clearfix
          -else
            No media present
            
      #reviews.tab-pane.fade.in
        .row
          .span9
            .well
              -performer.external_reviews.each do |review|
                =simple_format(review.review)
      
      #pricing.tab-pane.fade.in
        .row
          .span9
            .well
            
      #updates.tab-pane.fade.in
        .row
          .span9
            .well
            
      #comments.tab-pane.fade.in
        .row
          .span9
            .well
              .row
                .span8
                  -if can?(:create, Post)
                    =render("posts/remote_form", :post => current_user.posts.build(:target => performer))
                  =render("posts/posts", :posts => performer.posts.page(params[:page]))
            
                
            
.row
  .span9
    =options_panel do
      =back_link
      =link_to("Edit performer", edit_performer_path(performer)) if can?(:edit,performer)
      =link_if_can("Delete performer", [:destroy, performer], :confirm => "Are you sure?")
