.row
  .span3
    .row.profile-left-col
      .span3
        =image_for(performer, "220x") if performer.image
      .span3.mt-2
        %h4=pluralize(22, 'Review')
        %table.unstyled
          %tr
            %td Excellent
            %td
              -3.times do
                %i.icon.icon-star
          %tr
            %td Very good
            %td
              -1.times do
                %i.icon.icon-star
          %tr
            %td Average
          %tr
            %td Poor
          %tr
            %td Terrible
      -if !performer.links.empty?
        .span3.mt-2
          %h4 Links
          %ul.unstyled.links
            -performer.links.each do |link|
              %li
                =image_tag(link.favicon)
                =link_to(link, link.url, :target => '_blank')

      -if performer.contact1_details.present?
        .span3.mt-2
          %h4 Primary contact
          =auto_link(performer.contact1_details.join("<br />").html_safe)
      -if performer.contact2_details.present?
        .span3.mt-2
          %h4 Secondary contact
          =auto_link(performer.contact2_details.join("<br />").html_safe)
      -if future_tour = performer.tours.future.first
        .span3.mt-2
          %h4 Upcoming shows
          %ul.unstyled
            -future_tour.dates.future.each do |tour_date|
              %li
                =tour_date.date.to_s(:month_day_year_or_not)
                \-
                =link_to_self(tour_date.venue)
          =link_to("View all future shows", performer_tours_path(performer, :anchor => 'future'))
      -if !performer.tours.past.empty?
        .span3.mt-2
          %h4 Past shows
          =link_to("View all past shows", performer_tours_path(performer, :anchor => 'past'))
        

        
  .span9
    %h1.mb-1=title(performer)
    =simple_format(performer.description)
    .row.company_tag_lists
      -if current_tour = performer.tours.first
        .span2.mb-1
          %h4 Current show:
          =link_to_self(current_tour)
      -if performer.genre_list.present?
        .span2.mb-1
          %h4 Genres
          %ul.unstyled
            -performer.genre_list.each do |genre|
              %li=genre.titleize.humanize
      -if performer.art_form_list.present?
        .span2.mb-1
          %h4 Art forms
          %ul.unstyled
            -performer.art_form_list.each do |art_form|
              %li=art_form.titleize.humanize
      -if performer.funder_list.present?
        .span2.mb-1
          %h4 Funders
          %ul.unstyled
            -performer.funder_list.each do |funder|
              %li=funder.titleize.humanize
      -if performer.work_scale_list.present?
        .span2.mb-1
          %h4 Scale of work
          %ul.unstyled
            -performer.work_scale_list.each do |work_scale|
              %li=work_scale.titleize.humanize
    .row.mt-2    
      -if (media_posts = performer.posts.where("image_uid LIKE '%'").limit(8)).present?
        .span4
          %h4 Photos/videos
          .row.mt-1
            -media_posts.each do |media_post|
              .span1.mb-1
                =link_to("#", :data => {:toggle => "modal", :backdrop => false, :"modal-url" => modal_post_path(media_post), :"modal-id" => "post_modal"}) do
                  =image_for(media_post, '60x60#', :class => "#{media_post.has_video? ? 'video-image' : ''}")
      .span4{:class => "#{media_posts.present? ? 'offset1' : ''}"}
        %h4 Venues regularly visited
        .row.mt-1
          -performer.venues.each do |venue|
            .span1.mb-1
              =link_to(image_for(venue, "60x60#"), venue)
              =link_to_self(venue, :class => "small-info-text")
    .row.mt-2
      .span9
        %h4 Proposed tour dates
        .row.mt-1
          -performer.tour_dates.each do |tour_date|
            .span1.mb-1
              =link_to(image_for(tour_date.tour, "60x60#"), tour_date.tour)
              %span.small-info-text=tour_date.date.to_s(:date)
    -if performer.facebook_url.present?
      .row.mt-2
        .span9
          %iframe{:src => "//www.facebook.com/plugins/likebox.php?#{{:href => performer.facebook_url, :width => "100%", :height => "300px", :colorscheme => "light", :show_faces => false, :stream => true, :header => false}.to_query}", :scrolling => "no", :allowTransparency => "true", :style => "border:none; overflow:hidden; width:100%; height:300px;"}
    
    -if posts.present? || can?(:create, Post)
      .row.mt-2
        .span9
          %h4.mb-1 Updates
          -if can?(:create, Post)
            =render("posts/remote_form", :post => current_user.posts.build(:target => performer))
          =render("posts/posts", :posts => posts)
.row.mt-2
  .span9
    =options_panel do
      =back_link
      =link_if_can("Edit performer", [:edit, performer])
      -if can?(:new, performer.tours.build)
        =link_to("Add tour", new_performer_tour_path(performer))
      =link_if_can("Delete performer", [:destroy, performer], :confirm => "Are you sure?")
      
