=semantic_form_for(resource, :multipart => true) do |form|
  =form.inputs do
    =form.input :name
    =form.input :summary, :input_html => {:rows => 5, :class => "span8"}
    =form.input :resource_tag_list, :label => "Tags", :as => :select, :multiple => true, :collection => tag_list_options(:resource_tags, resource)
    =form.input :retained_file, :as => :hidden
    =form.input :file, :as => :file, :label => false
  =form.buttons do
    =form.commit_button "Save"