.row.mb-2
  .span12
    =render("community/nav")
.row.mb-2
  .span12
    %h1=title("Resources")
.row
  .span3
    =render("resources/left_col")
  .span9
    -if @resources.empty?
      %p
        -if @query
          ="No resources match \"#{@query}\"."
        -else
          No resources have been added to the site yet.
    -else
      .row      
        -@resources.each do |resource|
          .span4.resource.mb-2
            =link_to(image_for(resource, "90x140"), resource, :class => "resource-image shadow")
            .resource-info
              =link_to_self(resource, :class => "resource-title")
              =summarize(resource, :length => 100)
              %ul.tag-list.tag-list-horizontal
                -resource.resource_tags.each do |tag|
                  %li=link_to(tag_label(tag), resources_path(:tag => tag.to_s), :class => "tag")
          
.row
  .span12
    =options_panel do
      =link_if_can("Add resource", [:new, Resource])