.row.mt-2.mb-2
  .span12
    %h1=title("Resources")

-if current_user.performer
  .well
    Groups/Resources are currently available to Promoters only. We will be adding more functionality for Performers in the future.
-else    
    
  .row
    .span9
      -if @resources.blank? && @resources_links.blank? &&  @resources_other.blank?
        %p
          -if @query
            ="No resources match \"#{@query}\"."
          -else
            No resources have been added to the site yet.
      -else
        =render "resources/search"
        .well
          .resources-header
            %h4 Publications
            .header-btn-group.btn-group
              =link_to "#", :class => 'btn header-btn' do
                Sort by
              =link_to('#', :data => {:toggle => "dropdown"}, :class => 'btn dropdown-toggle header-btn') do
                %span.caret
              %ul.dropdown-menu.pull-right
                %li
                  =link_to "#" do
                    Date
                %li.divider                    
                %li  
                  =link_to "#" do
                    Name
           
          -if @resources.empty?
            .span.mb-3
              No Publications found 
                  
          -@resources.each do |resource|
            .row
              .span9.resource.mb-2
                .resource-image
                  =link_to(image_for(resource, "90x150"), resource, :class => "resource-image-link shadow")
                .resource-info
                  .resource-title-summary
                    =link_to_self(resource, :class => "resource-title")
                    =summarize(resource, :length => 200)
                .resource-download
                  -if resource.file_name
                    =link_if_can [:download, resource], :class=>"resource-download-link" do
                      %span.download-text
                        Download
                      %icon.icon-download-alt.ml-1
                      %span.download-type
                        =resource.file_ext
                  -elsif resource.url
                    =link_to(prepend_http(resource.url), :target => '_new') do
                      Open
                      %i.icon-globe
                      Link                     
          .resources-header
            %h4 Links
          -if @resources_links.empty?
            .span.mb-3
              No links found      
          -@resources_links.each do |resource|        
            .resource.resource-link
              .resource-image
                =link_to resource, :class=>"resource-link-icon" do
                  %i.icon-link.resource-link-icon
              .resource-info
                .resource-title-summary
                  %p
                    =strip_tags(summarize(resource, :length => 200))
                    =link_if_can("Edit", [:edit, resource], :class => "edit-link")  
                  =link_to host_name(resource.url), prepend_http(resource.url), :class=>"resource-link-text", :target=>"_blank" 
                
          .resources-header
            %h4 Other
          -if @resources_other.empty?
            .span.mb-3
              No other resources found  
          -@resources_other.each do |resource|  
            .resource.resource-link
              .resource-image
                =link_to resource, :class=>"resource-link-icon" do
                  %i.icon-align-left.resource-link-icon
              .resource-info
                .resource-title-summary
                  %p
                    =link_to resource.name, resource, :class=>"resource-link-text"   
                    %br                     
                    =strip_tags(summarize(resource, :length => 200))
                        
                        
          .clearfix  
                      
    .span3
      =render("resources/right_col")
          
  .row
    .span12
      =options_panel do
        =link_if_can("Add resource", [:new, Resource.new])