.row.mt-2.mb-2
  .span12
    %h1=title("Resources")

-if current_user.performer
  .well
    Groups/Resources are currently available to Promoters only. We will be adding more functionality for Performers in the future.
-else    
    
  .row
    .span9
      -if @resources.empty?
        %p
          -if @query
            ="No resources match \"#{@query}\"."
          -else
            No resources have been added to the site yet.
      -else
        =render "resources/search"
        .well
          -@resources.each do |resource|
            .row
              .span9.resource.mb-2
                .resource-image
                  =link_to(image_for(resource, "90x150"), resource, :class => "resource-image shadow")
                .resource-info
                  .resource-title-summary
                    =link_to_self(resource, :class => "resource-title")
                    =summarize(resource, :length => 200)
                .resource-download
                  -if resource.file_name
                    =link_if_can [:download, resource] do
                      Download
                      %i.icon-download-alt
                      =resource.file_ext
                  -elsif resource.url
                    =link_to(prepend_http(resource.url), :target => '_new') do
                      Open
                      %i.icon-globe
                      Link                     
    .span3
      =render("resources/right_col")
          
  .row
    .span12
      =options_panel do
        =link_if_can("Add resource", [:new, Resource])