.row.mt-2.mb-2
  .span12
    %h1=title("Resources")

-if current_user.performer
  .well
    Groups/Resources are currently available to Promoters only. We will be adding more functionality for Performers in the future.
-else    
    
  .row
    .span9
      -if @resources.empty?
        %p
          -if @query
            ="No resources match \"#{@query}\"."
          -else
            No resources have been added to the site yet.
      -else
        =render "resources/search"
        .well
          .resources-header
            %h4 Publications
            .header-btn-group.btn-group
              =link_to "#", :class => 'btn header-btn' do
                Sort by
              =link_to('#', :data => {:toggle => "dropdown"}, :class => 'btn dropdown-toggle header-btn') do
                %span.caret
              %ul.dropdown-menu.pull-right
                %li
                  =link_to "#" do
                    %icon.icon-user
                    Option
                %li.divider                    
                %li  
                  =link_to "#" do
                    %icon.icon-user
                    Option
                  
          -@resources.each do |resource|
            .row
              .span9.resource.mb-2
                .resource-image
                  =link_to(image_for(resource, "90x150"), resource, :class => "resource-image-link shadow")
                .resource-info
                  .resource-title-summary
                    =link_to_self(resource, :class => "resource-title")
                    =summarize(resource, :length => 200)
                .resource-download
                  -if resource.file_name
                    =link_if_can [:download, resource], :class=>"resource-download-link" do
                      %span.download-text
                        Download
                      %i.icon-download-alt
                      %span.download-type
                        =resource.file_ext
                  -elsif resource.url
                    =link_to(prepend_http(resource.url), :target => '_new') do
                      Open
                      %i.icon-globe
                      Link                     
          .resources-header
            %h4 Links
          .resource.resource-link
            .resource-image
              =link_to "http://yoomee.com", :class=>"resource-link-icon", :target=>"_blank" do
                %i.icon-link.resource-link-icon
            .resource-info
              .resource-title-summary
                %p
                  Touring Rural Theatre, Federation of Scottish Theatre
                =link_to "http://yoomee.com", "http://yoomee.com", :class=>"resource-link-text"
              
            

          .resource.resource-link
            .resource-image
              =link_to "http://yoomee.com", :class=>"resource-link-icon", :target=>"_blank" do
                %i.icon-link.resource-link-icon
            .resource-info
              .resource-title-summary
                %p
                  Touring Rural Theatre, Federation of Scottish Theatre
                =link_to "http://yoomee.com", "http://yoomee.com", :class=>"resource-link-text"
              
            
            
          .clearfix  
                      
    .span3
      =render("resources/right_col")
          
  .row
    .span12
      =options_panel do
        =link_if_can("Add resource", [:new, Resource])