.row.mt-2.mb-2
  .span12
    %h1=title("Resources")
.row
  .span9
    -if @resources.empty?
      %p
        -if @query
          ="No resources match \"#{@query}\"."
        -else
          No resources have been added to the site yet.
    -else
      =render "resources/search"
      .well
        -@resources.each do |resource|
          .row
            .span9.resource.mb-2
              .resource-image
                =link_to(image_for(resource, "90x150"), resource, :class => "resource-image shadow")
              .resource-info
                .resource-title-summary
                  =link_to_self(resource, :class => "resource-title")
                  =summarize(resource, :length => 100)
              .resource-download
                =link_if_can [:download, resource] do
                  Download
                  %i.icon-download
                =resource.file_ext
                      
  .span3
    =render("resources/right_col")
          
.row
  .span12
    =options_panel do
      =link_if_can("Add resource", [:new, Resource])