.row.mb-2
  .span12
    =render("community/nav")
.row.mb-2
  .span9
    %h1 Resources
  .span3
    =link_to('&uarr; All resources'.html_safe, resources_path, :class => "back-to-all")
.row
  .span3
    =render("resources/left_col")
  .span9
    .row
      .span3
        =image_for(resource, "220x", :class => "shadow")
      .span6
        %h2.resource-title
          =title(resource)
        -if resource.publication_date.present?
          %h6.resource-publication-date 
            Published
            =resource.publication_date
        
        =summarize(resource, :length => 200)
        %ul.tag-list.tag-list-horizontal
          -resource.resource_tags.each do |tag|
            %li=link_to(tag_label(tag), resources_path(:tag => tag.to_s), :class => "tag")
        %br
        %hr
        =link_if_can("Click here to download PDF", [:download, resource], :class => "download-doc download-doc-pdf")
      -if posts.present? || can?(:create, Post)
        .span9.mt-2
          %h4.mb-1 Comments
          -if can?(:create, Post)
            =render("posts/remote_form", :post => current_user.posts.build(:target => resource))
          =render("posts/posts", :posts => posts)
.row
  .span12
    =options_panel do
      =back_link
      =link_if_can("Edit resource", [:edit, resource])
      =link_if_can("Delete resource", [:destroy, resource], :confirm => "Are you sure?")
      =link_if_can("Add resource", [:new, Resource])