.row.mb-2
  .span12
    =render("community/nav")
.row.mb-2
  .span12
    %h1 Resources
.row
  .span3
    =render("resources/left_col")
  .span9
    .row
      .span3
        =image_for(resource, "220x", :class => "shadow")
      .span6
        %h2.resource-title
          =title(resource)
        -if resource.publication_date.present?
          %h6.resource-publication-date 
            Published
            =resource.publication_date
        
        =summarize(resource, :length => 200)
        %ul.tag-list.tag-list-horizontal
          -resource.resource_tags.each do |tag|
            %li=link_to(tag_label(tag), resources_path(:tag => tag.to_s), :class => "tag")
        %br
        %hr
        =link_if_can("Click here to download PDF", [:download, resource], :class => "download-doc download-doc-pdf")

.row
  .span12
    =options_panel do
      =back_link
      =link_if_can("Edit resource", [:edit, resource])
      =link_if_can("Delete resource", [:destroy, resource], :confirm => "Are you sure?")
      =link_if_can("Add resource", [:new, Resource])