=form.inputs do 
  
  %legend Main postal address
  =form.input :address1
  =form.input :address2
  =form.input :city
  =form.input :postcode
  =form.country_select(:country, ["England", "Scotland", "Wales", "Ireland", "Northern Ireland"], :include_blank => true)
  
  %legend Primary contact
  =form.input :contact1_name, :label => 'Name'
  =form.input :contact1_email, :label => 'Email'
  =form.input :contact1_phone, :label => 'Phone'  
  =form.input :create_user_from_performer, :as => :boolean, :label => "Create a user from this performer" if performer.new_record?
  #create-user.hide    
    =form.input :contact1_password, :label => "Password for contact"    
  %legend Secondary contact
  =form.input :contact2_name, :label => 'Name'
  =form.input :contact2_email, :label => 'Email'
  =form.input :contact2_phone, :label => 'Phone'
  

  