=form.inputs do
  %legend Primary contact
  =form.input :contact1_name, :label => 'Name'
  =form.input :contact1_email, :label => 'Email'
  =form.input :contact1_phone, :label => 'Phone'
=form.inputs do
  %legend Secondary contact
  =form.input :contact2_name, :label => 'Name'
  =form.input :contact2_email, :label => 'Email'
  =form.input :contact2_phone, :label => 'Phone'
  