=form.inputs do
  %legend Booking contact
  -if venue.promoter.users.empty?
    .control-group
      .controls
        %p
          ="#{venue.promoter} has no individuals yet."
          %br
          =link_to("Add an individual", new_promoter_user_path(venue.promoter), :target => "_blank")
          and you will then be able to select them here as the booking contact.
  -else
    =form.input :user, :collection => venue.promoter.users, :include_blank => true, :label => false
=form.inputs do
  %legend Keyholder contact
  =form.input :keyholder_name, :label => 'Name'
  =form.input :keyholder_email, :label => 'Email'
  =form.input :keyholder_phone, :label => 'Phone'
=form.inputs do
  %legend Contact details
  =form.input :address1, :label => 'Address 1'
  =form.input :address2, :label => 'Address 2'
  =form.input :city
  =form.input :postcode
