%b.icon-info-sign
  Help
%p
  This is your profile page. On this page you can:
%ul
  %li
    =link_to("Add a new tour", new_performer_tour_path(performer))
  %li
    -if performer.tours
      =link_to("Edit all your tours", performer_tours_path(performer)+"#all" )
  %li
    =link_to "Post an update on your wall", "#", :data => {:scroll => "#wall"}
%p
  Alternatively you could:   
%ul
  %li
    =link_to "View all other performers", performers_path 
