/* @override http://localhost:3000/assets/application.css?body=1 */

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require formtastic-bootstrap
 *= require font-awesome
 *= require ym_core
 *= require jquery-ui-bootstrap 
 *= require ym_cms
 *= require ym_tags 
 *= require ym_posts
 *= require ym_docs
 *= require slideshow 
 *= require chosen
 *= require_self
*/
/*CSS3 magic*/

@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-webkit-keyframes fade_in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.fade_in{
    -webkit-animation-name: reset, fade_in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
}

.fade_in.fade_one,{-webkit-animation-delay: 0, 0;}
.fade_in.fade_two,   {-webkit-animation-delay: 0, 0.3s;}
.fade_in.fade_three, {-webkit-animation-delay: 0, 0.6s;}
.fade_in.fade_four,  {-webkit-animation-delay: 0, 0.9s;}
.fade_in.fade_five,  {-webkit-animation-delay: 0, 1.2s;}
.fade_in.fade_six, {-webkit-animation-delay: 0, 1.5s;}

.main-nav a {
	    
     -webkit-transition: .2s ease-in;
     -moz-transition: .2s ease-in;
     transition: .2s ease-in;
  
}

/*========== Bootstrap overrides ==========*/
.tab-content {
  overflow:visible;
}
.tabs-left .tab-content,
.tabs-right .tab-content {
  overflow:auto;
}

#map-canvas img,
.map-canvas img{
  max-width:none;
}

/*========== Bootstrap extensions ==========*/
.popover-footer {
  padding: 9px 15px;
  line-height: 1;
  background-color: #f5f5f5;
  border-top: 1px solid #EEE;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

a.back-to-all{
  color:#999;
  margin-top:8px;
  float:right;
}

/*========== Font stuff ==========*/
body, p {
  font-size: 14px;
  line-height: 20px;
}
.subnav_link, #social_media_links ul li a  {
	font-weight: 300;
	font-size: 15px;
	color: #777;
}

/*========== General ==========*/

.shadow {
  -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,0.09), 2px 2px 5px rgba(0,0,0,0.05), 2px 2px 10px rgba(0,0,0,0.04);
	-moz-box-shadow: 1px 2px 1px rgba(0,0,0,0.09), 2px 2px 5px rgba(0,0,0,0.05), 2px 2px 10px rgba(0,0,0,0.04);
	box-shadow:1px 1px 1px rgba(0,0,0,0.09), -1px -1px 1px rgba(0,0,0,0.05), 2px 2px 3px rgba(0,0,0,0.04), 2px 2px 8px rgba(0,0,0,0.03);  
}

/*========== Forms ==========*/
select[multiple='multiple']{
  width:620px;
}

/*========== Header ==========*/

#header {
  margin-bottom: 20px;  
}
#header_row {
  padding: 40px 0 10px;
}
#headline_image {
	box-shadow:1px 1px 3px #ccc
  
}
#site_logo {
  font-size: 40px;
  line-height: 40px;
  margin:7px 0 0 0;
}
.main-nav li {
  float: left;
  margin: 0px;
}
.main-nav a {
	margin: 0px 0 0 0;
  padding: 0 30px 5px 10px;
  border-bottom: 1px solid #f5f5f5;
  font-size: 26px;
  line-height: 26px;
  font-weight: 300;
}
.main-nav a:hover {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  color: #0088cc;
}
#header_links {
  float: right;
}
.header_link {
  font-size: 14px;
  margin-left: 8px;
}
.subnav_link {
  color: #777;
  margin: 8px 14px 0 0;
  float: left;
}
.homepage-box {
   background: #f5f5f5;


  padding: 20px;
  height: 260px;
  
  box-shadow:inset 0px 1px 10px rgba(0,0,0,0.03);
  -webkit-box-shadow:inset 0px 1px 10px rgba(0,0,0,0.03);
  -moz-box-shadow:inset 0px 1px 10px rgba(0,0,0,0.03);
  
  -webkit-border-radius:3px;
  -moz-border-radius:3px;  
  border-radius:3px;
}
#social_media_links ul li a {
	float: left;
	width: 100%;
	padding: 4px 0;
	border-bottom: 1px solid #e8e8e8;
  
}
.homepage-box-short {
  height: 156px;
}
.homepage-box-title {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 15px;
}
.homepage-box-title a {
  color: inherit;
}
.main-nav .active a {
  color: #00558D;
}
/*========== Page show ==========*/
.options_panel {
  border-top: 1px solid #e8e8e8;
  padding-top: 7px;
}

/*========== Footer ==========*/
/*
Sticky Footer by Ryan Fait
http://ryanfait.com/sticky-footer/
*/
html, body {
  height: 100%;
}

.main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}
.push {
  clear: both;
  height: 60px;  
}
.footer-wrapper {
	clear: both;
	height: 60px;
}

.footer{
  border-top: 1px solid #EEE;
  margin-top: 9px;
  padding-top: 9px;
  color: #BFBFBF;
}

/*========== Profiles ==========*/

.profile-left-col {
  overflow: hidden;
}

div.span1.mb-1 {
  line-height: 16px;
}
a .icon-trash {
  color: #bbb;
  text-shadow: 0 0 1px #fff;
}
a .icon-trash:hover {
  text-decoration: none;
  color: #000;
}

/*========== Performer ==========*/

.performer_tag_lists .span2 {
  min-height: 65px;
}

/*========== Directory ==========*/

#directorynav li a{
  padding-left:11px;
  padding-right:11px;
}

#directorynav li.disabled a{
  color:#ccc;
  cursor:default;
}
#directorynav li.disabled a:hover{
  background:#fff;
}


h4.directory-item {
  max-width:220px;
}



/*========== Venues map ==========*/
.venue-infowindow img{
  float:left;
  width:80px;
  margin-right:10px;
  margin-top:3px;
}
.venue-infowindow p{
  float:right;
  width:240px;
}
.venue-infowindow a{
  float:right;
  clear:both;
}

/*========== Resources ==========*/

div.resource {
  height: 160px;
}
div.resource .resource-image {
  float: left;
  margin-right: 10px;
}
div.resource .resource-info {
  float: left;
  width: 200px;
}
div.resource .resource-info p {
	font-size: 13px;
	line-height: 18px;
}
a.resource-title {
  font-weight: bold;
}
h2.resource-title {
  line-height:30px;
  margin-bottom:7px;
}
h6.resource-publication-date {
  margin-bottom:12px;
}
div.resource .resource-title-summary {
  max-height: 102px;
  overflow: hidden;
  margin-bottom: 3px;
}
div.resource .resource-title-summary p {
  font-size: 12px;
  margin: 0;
}
div.resource .tag-list {
  margin: 0;
}

/*========== User ==========*/
#links .nested-fields .remove_fields,
#resources .nested-fields .remove_fields {
  margin-top:27px;
}

ul.links li {
  margin-top:5px;
}
ul.links li img {
  margin-top:-5px;
  width:16px;
  height:16px;
}
ul.links li a {
  color:#333;
}

/*========== Slideshow ==========*/

div.slideshow {
  float: left;
  clear: both;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  margin: 0 0 30px 0px;
}
.slideshow .slideshow_cycle {
  text-align: center;
  height: 400px;
  width: 100%;
  margin: 0;
  float: left;
  position: relative;
  z-index: 3;
}
.slideshow .slideshow_cycle .slideshow_slide {
  width: 100% !important;
  background-color: transparent;
  background-repeat: no-repeat;
}
.slideshow .slideshow_cycle .slideshow_slide object {
  display: inline;
}
.slideshow .slideshow_left {
  padding: 0px;
  padding-top: 10px;
  float: left;
  width: 100%;
  margin-right: 0;
  position: relative;
  margin-left: 0;
  padding-left: 0;
}
.slideshow_item_text span {
  float: left;
  margin: 15px 12px 0 25px;
}
.slideshow_arrow:hover {
	background-color: #fff;	
}
.slideshow .slideshow_bottom .slideshow_item_text span {
  display:none;
}
.slideshow .slideshow_bottom .slideshow_nav {
  float: right;
}
.slideshow_arrow {
  float: right;
  padding: 0;
  width: 26px;
  height: 25px;
  background: #474646 url(/assets/slideshow_arrow_r.png) no-repeat center;
  text-indent: -9000em;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.slideshow_prev {
  margin-right: 7px;
  background-image: url(/assets/slideshow_arrow_l.png);
}
.slideshow_numbers {
  margin-left: 10px;
}
.slideshow_numbers a {
  float: left;
  display: block;
  padding: 3px 7px 5px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #777;
}
.slideshow_numbers a.activeSlide {
  color: #fff;
}
.slideshow_nav {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #333;	
}
.slideshow_nav .slideshow_next {
  margin-right: 10px;
}


/*========== Tour availability ==========*/
.booking-visible {display:none}
#availability_datepicker .ui-datepicker{
  padding:0;
}
#availability_datepicker .ui-datepicker-group {
height: 234px;
}
#availability_datepicker .ui-state-active{
  background-color:#fff;
  color:gray;
}
#availability_datepicker .ui-state-active,
#availability_datepicker .ui-state-default:hover,
#availability_datepicker .ui-state-highlight{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#availability_key{
  width:400px;
  font-size:13px;
  margin-bottom:15px;
}
#availability_key td {
  border-top:2px solid white;
}
#availability_key .key-color{
  width:18px;
}
#availability_key .key-color-available,
#availability_datepicker .ui-datepicker-available a{
  background:#468847;
  color:#fff;
}
#availability_key .key-color-booked,
#availability_datepicker .ui-datepicker-booked a{
  background:#B94A48;
  color:#fff;
}
#availability_key .key-color-unavailable,
#availability_datepicker .ui-datepicker-unavailable a{
  background:#B6D0B6;
  color:#666;  
}
#availability_popover .close{
  position: absolute;
  top: 14px;
  right: 20px;
}

#availability_popover .popover-footer{
  height: 28px;
  margin-top: -15px;
}

/*========== Resources tab ==========*/
#resources .nested-fields .file{
  width:200px;
}

/*========== Registration ==========*/

form.registration-form .registration-title {
  margin-bottom: 20px;
}
form.registration-form p {
  margin-bottom: 20px;
}
form.registration-form .organisation-type-box {
  height: 145px;
}
form.registration-form .organisation-type-box p {
  margin: 5px 0 10px 0;
  height: 80px;
}