/* @override http://localhost:3000/assets/application.css?body=1 */

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require formtastic-bootstrap
 *= require font-awesome
 *= require ym_core
 *= require redactor
 *= require jquery-ui-bootstrap 
 *= require ym_cms
 *= require ym_tags 
 *= require ym_posts
 *= require ym_docs
 *= require slideshow 
 *= require chosen
 *= require_self
*/
/*CSS3 magic*/

@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-webkit-keyframes fade_in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.fade_in{
    -webkit-animation-name: reset, fade_in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
}

.fade_in.fade_one,{-webkit-animation-delay: 0, 0;}
.fade_in.fade_two,   {-webkit-animation-delay: 0, 0.3s;}
.fade_in.fade_three, {-webkit-animation-delay: 0, 0.6s;}
.fade_in.fade_four,  {-webkit-animation-delay: 0, 0.9s;}
.fade_in.fade_five,  {-webkit-animation-delay: 0, 1.2s;}
.fade_in.fade_six, {-webkit-animation-delay: 0, 1.5s;}

.main-nav a,
.welcome-item i,
.show-tour {
	    
     -webkit-transition: .2s ease-in;
     -moz-transition: .2s ease-in;
     transition: .2s ease-in;
  
}
.show-tour {
  -webkit-border-radius:3px;
  -moz-border-radius:3px;  
  border-radius:3px;
}

/*========== Bootstrap overrides ==========*/
.tab-content {
  overflow:visible;
}
.tabs-left .tab-content,
.tabs-right .tab-content {
  overflow:auto;
}

#map-canvas img,
.map-canvas img{
  max-width:none;
}
.nav li a:hover {
  background: none;
}
.nav a {
	color: #4c4e4c;
  
}
.carousel-control {
  width: 35px;
  height: 35px;
  top: 47%;
}
.carousel-control i {
  font-size: 20px;
	line-height: 1;
	float: left;
	margin: 7px 0 0 12px;
	
}
.carousel-control.right i {
	margin-left: 14px;
}

legend {
	margin-bottom: 0px;
}

/*========== Bootstrap extensions ==========*/
.popover-footer {
  padding: 9px 15px;
  line-height: 1;
  background-color: #f5f5f5;
  border-top: 1px solid #EEE;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

a.back-to-all{
  color:#999;
  margin-top:8px;
  float:right;
}

/*========== Font stuff ==========*/

body, p,
.ym_messages li .thread-participants {
  font-size: 13px;
  line-height: 20px;
  font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size-adjust:0.488;
  font-weight:200;
  font-style:normal;
  color: #6b6a68;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
.header-btn,
.counter,
.left-col .nav li,
p.tour-dates,
.thread-link,
a.show-all-threads
{
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust:0.488; font-weight:600; font-style:normal; 
  color: #4d4e4d;
}
h2
{
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.5;
}

h2 a {
	color: #4e4d4e;
}

h3 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
  
}

.profile-title,
.news-feed h3,
.show-tour h2,
h1.tour
 {
  font-family:"Adelle Regular", Georgia, serif; font-size-adjust:0.516; font-weight:normal; font-style:normal;
  text-transform: uppercase;
  color: #4d4e4d;
}
.subnav_link, #social_media_links ul li a  {
	font-weight: 300;
	font-size: 15px;
	color: #777;
}

/*========== General ==========*/

body {
  background: #f6f6f2;
}
a {
  color: #aac544;
}
a:hover {
  color: #aac544;
}
.shadow {
  -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,0.09), 2px 2px 5px rgba(0,0,0,0.05), 2px 2px 10px rgba(0,0,0,0.04);
	-moz-box-shadow: 1px 2px 1px rgba(0,0,0,0.09), 2px 2px 5px rgba(0,0,0,0.05), 2px 2px 10px rgba(0,0,0,0.04);
	box-shadow:1px 1px 1px rgba(0,0,0,0.09), -1px -1px 1px rgba(0,0,0,0.05), 2px 2px 3px rgba(0,0,0,0.04), 2px 2px 8px rgba(0,0,0,0.03);  
}
.mt1, .mt-1 {
	margin-top:20px;
}
.mt2, .mt-2 {
	margin-top:40px;
}

.mb1, .mb-1 {
	margin-bottom:15px;
}
.mb2, .mb-2 {
	margin-bottom:30px;
}

.action-link {
	font-size: 11px;
	color: #0088cc;
}
.btn {
  -moz-border-radius:3px;	
  -webkit-border-radius:3px;
  border-radius:3px;

  -webkit-box-shadow:none;
  -moz-box-shadow:none;  
  box-shadow:none;
  text-transform: uppercase;

  
  border: none;
  position: relative;
  
  background: #565656;
  
  text-shadow: none;
  padding: 7px 14px;
  color: #fff;
}
.btn:hover {
  background: #000;
  color: #fff;
  text-shadow: none;
}
.btn i {
  position: absolute;
  top: 8px;
  left: 10px;
}
.btn-primary {
  background:#acc543;
}
.btn-primary:hover {
  background:#97AD3B;
}

.side-btn {
	width: 190px;
}

.admin-btn {
  -moz-border-radius:3px;	
  -webkit-border-radius:3px;
  border-radius:3px;

  -webkit-box-shadow:none;
  -moz-box-shadow:none;  
  box-shadow:none;
  border: none;
  position: relative;
 
  background: #efefef;
  text-shadow: none;
  padding: 7px 14px;
  color: #000000;	
	width: 110px;
	margin-left: 10px;
}


.red {
  color: #d33958;
}
.well {
  background: #fff;
  border: 1px solid #9a9b98;
  padding: 15px;
}
.underline {
  border-bottom: 2px solid;
}
.clearfix {
  clear: both;
}
.delete_slide_link {
	background: none;
	color: #666;
}

/*========== Forms ==========*/
select[multiple='multiple']{
  width:620px;
}

.control-label {
	font-weight: bold;
}



/*========== Header ==========*/
.top-bar {
  background: #4c4e4c;
  border-top: 5px solid #acc543;
  padding: 20px 0;
  margin: 0 0 0px;
  position: relative;
  z-index: 5;
  color: #fff;


  -moz-box-shadow:0 2px 4px rgba(0,0,0,0.3);
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.3);  
  box-shadow:0 2px 4px rgba(0,0,0,0.3);
}

.top-bar.logged-out {
	margin-bottom: 38px;
}

#site_logo {
  font-size: 40px;
  line-height: 40px;
  margin:0px;
  background: url(/assets/site-logo.png) no-repeat 0 0;
  width: 200px;
  float: left;
  height: 30px;
}
#site_logo a {
  color: #000;
  text-indent: -9000em;
  display: block;
  float: left;
  width: 100%;
  height: 30px;
}

h1.logged_out {

}

.user-links {
	float: right;
	clear: none;
	margin: 0px 0 0;
  
}
.user-link-icons {
  float: right;
}
.header-btn-group {
  float: right;
  margin-left: 50px;
}
.header-btn-group .header-btn {
  background: #fff;
  color: #333;
  font-size: 16px;
  line-height: 17px;
  text-transform: none;
}
.user-link {
  color: #fff;
  font-size: 22px;
  margin: 0px 0 0 30px;
  float: left;
  padding: 6px 0 5px;
  position: relative;
}
.user-link:hover {
  color: #f5f5f5;
  text-decoration: none;
}
.counter {
  font-size: 9px;
  float: left;
  line-height: 10px;
  background: #bd1d4f;
  padding: 3px 5px 3px;
  color: #fff;
  
  position: absolute;
  top: -0px;
  right: -13px;
  
  -moz-border-radius:14px;
  -webkit-border-radius:14px;
  border-radius:14px;
  
}

.search-icon {
	border-right: 1px solid #868884;  
	padding-right: 20px;
}

/*========== Homepage logged in ==========*/
.welcome-title {
  float: left;
  width: 100%;

text-align: center;
margin: 0 0 60px;

}
.welcome-banner {
	background: #fff;
	padding: 30px 0;
	margin: 0 0 30px;
	border-bottom: 1px solid #c2d563;
}
ul.welcome-subnav {
  float: left;
  clear: left;
}
ul.welcome-subnav li {
	float: left;
	width: 152px;
	text-align: center;
	margin: 0 0 0 30px;
}
.nav a.welcome-item:hover {
  background: none;
}
.welcome-item i {
  font-size: 40px;
  line-height: 1;
  color: #4c4e4c;
}
.welcome-item:hover i {
  color: #acc543;
}


.left-col {
  background: #fbfcfa;
  border-color: #dbdcd6;
  
  
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#profile-info.well {
  padding: 15px;
}
.profile-image img {
  width: 80px;
  float: left;
  
  border-radius:4px;
}
a.profile-image:hover img {
  opacity: 0.9;
}

span.view{
	text-align: right;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	font-style:italic;
  
}
.left-col .nav li {
	position: relative;
 	padding-left: 25px; 
 	padding-bottom: 0px;
 	margin-bottom: 10px;
}
.left-col .nav a:hover {
  text-decoration: underline;
}
.left-col .nav i {
  position: absolute;
  top: 0px;
  left: 0;
}
ul.messages-and-notifications {
	padding: 10px 0 15px;
	border-bottom: 1px solid #dbdcd6;
  
}
.left-col ul.messages-and-notifications li {
  margin-bottom: 0;
}
#noticeboard {
  background:none;
}
#noticeboard li p {
  margin: 0;
}
#noticeboard ul li {
	margin: 0 0 15px;
}
.news-feed li {
	clear: both;
	margin: 0 0 20px 85px;
	float: left;
}
.news-feed-text {
  float: left;
}
.news-feed-text a {
  color: #6b6a68;
}
.news-feed-text p {
  margin: 0 0 2px;
  line-height: 1.2;
}
.news-feed-image {
  padding: 0px;
  float: left;
  display: block;
  width: 70px;
  height: 70px;
  background: #fbfcfa;
  overflow: hidden;
  margin: 0 0px 0 -85px;
  border: 1px solid #dbdcd6;
}
.news-feed-calendar .news-feed-image {
  border: none;
  background: none;
  margin-left: -60px;
  width: 50px;
  height: 55px;

}
.news-feed-calendar li {
	margin-left: 65px;
}
.upcoming-events.news-feed-calendar li {
	width: 155px;
  
}
.recent-activity li {
  width: 340px;
}
.calendar-icon {
  display: block;
  background: #4d4e4d;
  color: #fff;
  float: left;
  width: 45px;
  margin: 0 0 0 0px;
  
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.calendar-icon span {
  float: left;
  display: block;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
}

.calendar-icon .calendar-icon-date {
  font-size: 22px;
  padding: 6px 0 0;
}

.news-feed-image img {
  width: 70px;
}




















#beta-bar {
  background: #418dcc;
  padding: 8px 0;
  text-align: center;
  color: #fff;
}
#beta-bar a {
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
#beta-bar a:hover {
  border-color: #fff;
  text-decoration: none;
}
#header {
  margin-bottom: 20px;  
}
#header_row {
  padding: 40px 0 10px;
}
#headline_image {
	box-shadow:1px 1px 3px #ccc
  
}

.main-nav {
  float: right;
  margin-right: 30px;
}
.main-nav li {
  float: left;
  margin: 0px;
}
.main-nav a {
	margin: 0px 0 0 0;
  padding: 0 15px 10px 15px;
  border-bottom: 1px solid #f5f5f5;
  font-size: 26px;
  line-height: 26px;
  font-weight: 300;
}
.main-nav a:hover {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  color: #0088cc;
}
#header_links {
  float: right;
  min-width: 170px;
}
.header_link {
  font-size: 14px;
  margin-left: 8px;
}
.subnav_link {
  color: #777;
  margin: 8px 14px 0 0;
  float: left;
}
.homepage-box {
   background: #fff;


  padding: 20px;
  height: 260px;
  
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  
  -webkit-border-radius:3px;
  -moz-border-radius:3px;  
  border-radius:3px;
}
#social_media_links ul li a {
	float: left;
	width: 100%;
	padding: 4px 0;
	border-bottom: 1px solid #e8e8e8;
  
}
.homepage-box-short {
  height: 156px;
}
.homepage-box-title {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 15px;
}
.homepage-box-title a {
  color: inherit;
}
.main-nav .active a {
  color: #00558D;
  border-bottom: 1px solid #000;
}
/*========== Page show ==========*/
.options_panel {
	border-top: 1px solid #E8E8E8;
	padding-top: 6px;
	padding-bottom: 13px;
}

/*========== Footer ==========*/
/*
Sticky Footer by Ryan Fait
http://ryanfait.com/sticky-footer/
*/
html, body {
  height: 100%;
}

.main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
  border-top: 5px solid #acc543;

}
.push {
  clear: both;
  height: 60px;  
}
.footer-wrapper {
	clear: both;
	height: 60px;
	background: #4c4e4c;
}

.footer{
  margin-top: 0px;
  padding-top: 20px;
  color: #BFBFBF;
}
.footer-links {
  float: right;
}
.footer-links li {
  float: right;
}
.footer-links a {
  float: right;
  display: block;
  margin: 0 0 0 15px;
}

/*========== Profiles ==========*/

.overflow-hidden {
  overflow: hidden;
}

.profile-left-col {
  overflow: hidden;
}

div.span1.mb-1 {
  line-height: 16px;
}
.post a .icon-trash {
  color: #bbb;
  text-shadow: 0 0 1px #fff;
}
.post a .icon-trash:hover {
  text-decoration: none;
  color: #000;
}
.tech-details td {
	width: 50%;
}
.tech-details dd {
	margin: 0;
}
/*========== Performer ==========*/

.performer_tag_lists .span2 {
  min-height: 65px;
}
.performer-tours {
  margin: 20px 0;
  font-size: 16px;
}
.performer-tours h4 {
  border-bottom: 1px #919191 solid;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.performer-tours a {
  color: #4D4E4D;
}
.current-tours {
  margin-top: 20px;
}
.past-tours {
  margin: 20px 0;
}

/*========== Directory ==========*/

#directorynav li a{
  padding-left:11px;
  padding-right:11px;
}

#directorynav li.disabled a{
  color:#ccc;
  cursor:default;
}
#directorynav li.disabled a:hover{
  background:#fff;
}
h4.directory-item {
  font-family: "Adelle Regular", Georgia, serif;
  font-size-adjust: 0.516;
  font-weight: normal;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}
h4.directory-item-extra,
.directory-item-region h4 {
  font-size: 16px;
}
.directory-item-region h4.active a,
#directory-sidebar .well li.active a {
  color: #bb2550;  
}
.controller_directory table a,
.controller_directory #directory-sidebar a,
.controller_groups #groups-sidebar a {
 color: #4d4e4d;
}
.show-tags .tag span.label.tag-label {
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust:0.488; font-weight:600; font-style:normal;
  margin: 0 10px 10px 0;
  background: #4095b7;
  text-transform: uppercase;
  font-weight: bold;
}
.show-tags .tag.active span.label.tag-label,
.show-tags .tag span.label.tag-label.label-success {
  background: #bb2550;
  padding: 3px 8px 4px;
  float: left;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
form#directory-search input {
  width: 178px;
}
form#directory-search input.btn {
  width: 100%;
}
#directory-sidebar .well h4 {
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 10px;
}
#directory-sidebar .well li {
  font-size: 16px;
  margin-bottom: 5px;
}
#clear-all-filters,
#no-filters {
  width: 160px;
}
.controller_directory #directory-sidebar a#clear-all-filters,
.controller_directory #directory-sidebar a#no-filters {
  color: white;
}
.controller_directory #directory-sidebar a#no-filters:hover {
  background: #565656;
  cursor: default;
}

/*========== Venues map ==========*/
.venue-infowindow img{
  float:left;
  width:80px;
  margin-right:10px;
  margin-top:3px;
}
.venue-infowindow p{
  float:right;
  width:240px;
}
.venue-infowindow a{
  float:right;
  clear:both;
}

/*========== Resources ==========*/

div.resource {
  height: 160px;
}
div.resource .resource-image {
  float: left;
  margin-right: 10px;
}
div.resource .resource-info {
  float: left;
  margin-right: 20px;
  width: 430px
}
div.resource .resource-download {
  float: left;
  width: 100px
}
div.resource .resource-info p {
	font-size: 13px;
	line-height: 18px;
}
a.resource-title {
  font-weight: bold;
}
h2.resource-title {
  line-height:30px;
  margin-bottom:7px;
}
h6.resource-publication-date {
  margin-bottom:12px;
}
div.resource .resource-title-summary {
  margin-bottom: 3px;
}
div.resource .resource-title-summary p {
  font-size: 14px;
  margin: 20px 0 0 0;
}
div.resource .tag-list {
  margin: 0;
  margin-top: 20px;
}
.controller_resources h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.resource a i,
.resource a {
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust:0.488; font-weight:600; font-style:normal;
  color: #4D4E4D;
  text-transform: uppercase;
  font-size: 18px;
}
.well.resources-right-col {
  background: #F6F6F2;
}
.well.resources-right-col .add-on {
margin-left: -6px;
}
.recent-resources {
  padding: 15px;
}
.recent-resources h4 {
  padding-bottom: 15px;
  margin-bottom: 5px;
  border-bottom: 2px #919191 solid;
}
.recent-resources .recent-resource {
  
}
.recent-resources a img {
  margin-right: 5px;
  float: left;
}
.recent-resources a h4 {
  font-size: 12px;
  padding: 0;
  margin: 0;
  border: none;
}
.recent-resources a {
  color: #4D4E4D;
  float: left;
  padding: 15px 0;
  margin-bottom: 5px;
  border-bottom: 1px #919191 solid;
}
.recent-resources p {
  font-size: 11px;
}

/*========== User ==========*/
#links .nested-fields .remove_fields,
#resources .nested-fields .remove_fields {
  margin-top:27px;
}

ul.links li {
  margin-top:5px;
}
ul.links li img {
  margin-top:-5px;
  width:16px;
  height:16px;
}
ul.links li a {
  color:#333;
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust:0.488; font-weight:600; font-style:normal;
}
.notifications {
  margin-top: 20px;
}
.notifications,
.messages {
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust:0.488; font-weight:600; font-style:normal;
  font-size: 16px;
  color: #4D4E4D;
}
.notifications i,
.messages i {
  margin-right: 10px;
}
.notifications span.number,
.messages span.number {
  color: #BB2550;
}
.notifications a,
.messages a {
  color: #BB2550;
  float: right;
}
.promoter {
  border-top: 1px #919191 solid;
  margin-top: 20px;
}
.promoter,
.venues {
  padding-top: 20px;
}
controller_users .venues {
  padding-bottom: 20px;
}
.promoter h4,
.venues h4 {
  font-size: 16px;
}
.promoter a,
.venues a {
  color: #4D4E4D;
}

/*========== Slideshow ==========*/

div.slideshow {
  float: left;
  clear: both;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  margin: 0 0 30px 0px;
}
.slideshow .slideshow_cycle {
  text-align: center;
  height: 400px;
  width: 100%;
  margin: 0;
  float: left;
  position: relative;
  z-index: 3;
}
.slideshow .slideshow_cycle .slideshow_slide {
  width: 100% !important;
  background-color: transparent;
  background-repeat: no-repeat;
}
.slideshow .slideshow_cycle .slideshow_slide object {
  display: inline;
}
.slideshow .slideshow_left {
  padding: 0px;
  padding-top: 10px;
  float: left;
  width: 100%;
  margin-right: 0;
  position: relative;
  margin-left: 0;
  padding-left: 0;
}
.slideshow_item_text span {
  float: left;
  margin: 15px 12px 0 25px;
}
.slideshow_arrow:hover {
	background-color: #fff;	
}
.slideshow .slideshow_bottom .slideshow_item_text span {
  display:none;
}
.slideshow .slideshow_bottom .slideshow_nav {
  float: right;
}
.slideshow_arrow {
  float: right;
  padding: 0;
  width: 26px;
  height: 25px;
  background: #474646 url(/assets/slideshow_arrow_r.png) no-repeat center;
  text-indent: -9000em;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.slideshow_prev {
  margin-right: 7px;
  background-image: url(/assets/slideshow_arrow_l.png);
}
.slideshow_numbers {
  margin-left: 10px;
}
.slideshow_numbers a {
  float: left;
  display: block;
  padding: 3px 7px 5px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #777;
}
.slideshow_numbers a.activeSlide {
  color: #fff;
}
.slideshow_nav {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #333;	
}
.slideshow_nav .slideshow_next {
  margin-right: 10px;
}


/*========== Tour availability ==========*/
.booking-visible {display:none}
#availability_datepicker .ui-datepicker{
  padding:0;
}
#availability_datepicker .ui-datepicker-group {
height: 234px;
}
#availability_datepicker .ui-state-active{
  background-color:#fff;
  color:gray;
}
#availability_datepicker .ui-state-active,
#availability_datepicker .ui-state-default:hover,
#availability_datepicker .ui-state-highlight{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#availability_key{
  width:400px;
  font-size:13px;
  margin-bottom:15px;
}
#availability_key td {
  border-top:2px solid white;
}
#availability_key .key-color{
  width:18px;
}
#availability_key .key-color-available,
#availability_datepicker .ui-datepicker-available a{
  background:#468847;
  color:#fff;
}
#availability_key .key-color-booked,
#availability_datepicker .ui-datepicker-booked a{
  background:#B94A48;
  color:#fff;
}
#availability_key .key-color-unavailable,
#availability_datepicker .ui-datepicker-unavailable a{
  background:#B6D0B6;
  color:#666;  
}
#availability_popover .close{
  position: absolute;
  top: 14px;
  right: 20px;
}

#availability_popover .popover-footer{
  height: 28px;
  margin-top: -15px;
}

/*========= Registration steps ===========*/
p.registration-step {
  font-size: 16px;
  line-height: 20px;
  background: #f5f5f5;
  padding:7px 10px;
  border-radius:4px;
  float: left;
  color: #666;
  font-weight: 300;
  margin: 0 0 15px;
}
h2.register-title {
  clear: both;
  margin: 0 0 15px;
}

/*========== Resources tab ==========*/
#resources .nested-fields .file{
  width:200px;
}

/*========== Registration ==========*/

form.registration-form .registration-title {
  margin-bottom: 20px;
  clear: both;
}
form.registration-form p {
  margin-bottom: 20px;
}
form.registration-form .organisation-type-box {
  height: 145px;
}
form.registration-form .organisation-type-box p {
  margin: 5px 0 10px 0;
  height: 80px;
}

/*========== Venue profile ==========*/

body.controller_venues #technical.tab-pane dl,
body.controller_venues #technical.tab-pane h3 {
  float: left;
  clear: both;
}
body.controller_venues #technical.tab-pane dt {
  float: left;
  clear: left;
}
body.controller_venues #technical.tab-pane dd {
  float: left;
}
.profile-left-col .well .venue {
  border-bottom: 1px #919191 solid;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/*========== Reviews ==========*/

.review-rating-box {
  height: 160px;
}

/*========== change password form ==========*/
label em.optional {
  font-weight:normal;
}

/*========== Sign in page ==========*/
#sign-in {
  padding-top: 150px;
  background: url(/assets/home-illustration.png) no-repeat center 340px;
}
#sign-in h1 {
  font-size: 60px;
  line-height: 1.2;
  float: left;
  clear: both;
}
.welcome-to {
  float: left;
 
}
span.welcome-to-tourbook {
  display: block;
  float: left;
  background: url(/assets/welcome-to-tourbook.png) no-repeat 0px 11px;
  text-indent: -9000em;
  margin: 0 0 0 15px;
}

#sign-in p.sub-title {
  font-size: 24px;
   clear: left;
}
#sign-in form#user_new {
  padding-top: 50px;
  font-size: 20px;
  line-height: 1;
}
#sign-in-box .add-on {
  width: 30px;
  margin: 0;
}
#sign-in-box input {
  margin: 0;
}
#sign-in form#user_new .controls {
  /*height: 35px;*/
}
#sign-in form#user_new input {
  font-size: 16px;
  padding: 10px;
}
#sign-in form#user_new .input-prepend span.add-on {	
	padding: 10px;
	margin: 0 -6px 0 0;
}
#sign-in form#user_new .input-prepend {
  margin-bottom: 15px;
}
#sign-in form#user_new input[name='commit'] {
  background: #AAC544;
}
#sign-in .row#sign-in-info {
  padding-top: 100px;
  padding-bottom: 50px;
}
#sign-in a#sign_up_link {
  font-size: 14px;
  font-style: italic;
}
/*========== Shows page ==========*/

.show-tour {
  padding: 10px 10px 0; 
  margin-bottom: 20px;
  overflow: hidden;
  
  background: #fff;
  
  
  -webkit-box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2), 2px 3px 6px rgba(0, 0, 0, 0.1), 2px 3px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2), 2px 3px 6px rgba(0, 0, 0, 0.1), 2px 3px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2), 2px 3px 6px rgba(0, 0, 0, 0.1), 2px 3px 15px rgba(0, 0, 0, 0.1);
}

.show-tour.block {
	height: 440px;
}

.span9.show-tour {
  /*padding: 10px 10px 0; */
  padding: 0;
}
.show-tour a {
  color: #6B6A68;
}
.show-tour a:hover {
  text-decoration: none;
  color: #525150;
}
.show-tour:hover {
  color: #525150;
  
    -webkit-box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2), 2px 3px 6px rgba(0, 0, 0, 0.1), 2px 3px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2), 2px 3px 6px rgba(0, 0, 0, 0.1), 2px 3px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.4), 2px 3px 6px rgba(0, 0, 0, 0.1), 2px 3px 10px rgba(0, 0, 0, 0.1);
}

.tour-box-title {
  float: left;
  width: 100%;
  line-height: 1.1;
  margin: 10px 0 0px ;
}
.tour-performer-name {
  float: left;
  width: 100%;
  line-height: 1.5;
  margin: 0px 0 0px;
}
p.tour-dates {

}
.show-tags .tag span.label.tag-label {
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust:0.488; font-weight:600; font-style:normal;
  margin: 0 10px 10px 0;
  background: #4095b7;
  text-transform: uppercase;
  font-weight: bold;
}
.show-tags .tag.active span.label.tag-label {
  background: #bb2550;
  padding: 3px 8px 4px;
  float: left;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
#show-date-filter.form-horizontal .control-label {
  width: auto;
  margin-right: 10px;
  text-transform: uppercase;
  float: right;
}
#show-date-filter.form-horizontal .controls {
  margin-left: 0px;
  float: right;
}
#show-date-filter.form-horizontal .controls input {
  width: 90px;
}
#remove-start-date,
#remove-end-date {
  cursor: pointer;
}
.span9.show-tour .row .span3 img {
  padding: 10px 0 10px 10px;
}
#interested {
  width: 500px;
}
#interested .modal-body {
  padding: 15px 80px;
}
#interested .modal-body #availability_datepicker {
  padding-left: 50px;
}
#interested form#new_enquiry {
  margin: 0;
}
#interested form#new_enquiry label[for=not_sure_yet] {
  font-family: "Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  width: auto;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  color: #4D4E4D;
}

.show-list-view-text {
  margin: 8px 0 0 8px;
}


/*========== block or list view ==========*/
.block-or-line {
  float: right;
  margin: 15px 0 0;
}
a.block-or-line-icon {
  display: block;
  text-indent: -9000em;
  float: right;
  margin: 0px 0 8px 10px;
  width: 24px;
  height: 18px;
}
.active .sb, .active .sl {
  background: #818181;
}
a.block-or-line-icon.active:hover .sb, a.block-or-line-icon.active:hover .sl {
  background: #4D4E4D;
}
a.block-or-line-icon:hover .sb, a.block-or-line-icon:hover .sl {
  background: #818181;
}
.sb {
  width: 6px;
  height: 3px;
  margin: 0 2px 3px 0;
  background: #4D4E4D;
  float: left;
}
.sl {
  width: 22px;
  margin: 0 2px 3px 0;
  height: 3px;
  background: #4D4E4D;
}

/*========== diary page ==========*/
.well.diary {
  padding-top: 0;
}
table#diary {
  background: white;
  position: relative;
  width: 100%
}
table#diary a.previous-month,
table#diary a.next-month {
  position: absolute;
  top: 5px;
  background: #565656;
  color: white;
  border-radius: 40px;
  height: 35px;
  width: 35px;
  font-size: 50px;
  line-height: 23px;
}
table#diary a.next-month {
  right: 0;
}
table#diary thead {
  border-bottom: 2px #565656 solid;
}
table#diary tr.paginate {
  border-top: 2px #565656 solid;
  text-align: center;
}
table#diary tr.paginate a {
  color: #4D4E4D;
}
table#diary tr:last-child {
  /*border-top: none;*/
  border-bottom: 2px #565656 solid;
  /*background: red;*/
}
table#diary tbody tr {
  border-bottom: 1px #565656 solid;
}
table#diary tbody tr td {
  padding: 10px;
}
table#diary tbody tr td .tag-label {
	margin: 3px 3px 3px 0;
}
table#diary thead th {
  text-transform: uppercase;
  font-size: 30px;
  padding: 30px 0;
}
table#diary thead th a {
  text-transform: none;
  color: #6B6A68;
  font-size: 12px;
}
table#diary a.previous-month:hover,
table#diary a.next-month:hover {
  background: black;
  text-decoration: none;
}
table#diary a.tour,
table#diary a.performer {
  text-transform: uppercase;
  font-size: 16px;
}
table#diary .date {
  width: 60px;
}
table#diary .date,
table#diary a.tour,
table#diary a.performer {
  font-family:"Adelle Regular", Georgia, serif; font-size-adjust:0.516; font-weight:normal; font-style:normal;

  color: #4d4e4d;
}
table#diary a.venue,
.well a.venue {
  font-weight: bold;
  color: #4d4e4d;
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.filter-sidebar li {
  font-size: 16px;
  margin-bottom: 5px;
}
.filter-sidebar li.active a {
  color: #BB2550;
}
.filter-sidebar a {
  color: #4d4e4d;
}

/*========== tours#show ==========*/
h1.tour {
  padding: 20px 0;
}
h1.tour i {
  color: #b9c626;
  margin-right: 20px;
}
.profile-left-col {
  margin-top: 37px;
}
.profile-left-col .performer {
  padding: 20px 0 0 0;
}
.profile-left-col .performer a {
  text-decoration: none;
  color: #4D4E4D;
  font-size: 18px;
}
.profile-left-col .performer a:hover {
  text-decoration: underline;
}
.profile-left-col .well {
  background: #F6F6F2;
}
a i.icon-twitter,
a i.icon-facebook {
  color: white;
  height: 24px;
  border-radius: 40px;
  margin-top: 5px;
  font-size: 16px;
  padding-top: 3px;
}
a i.icon-twitter {
  background: #3daced;
  width: 20px;
  padding-left: 6px;
}
a i.icon-facebook {
  background: #465d98;
  width: 16px;
  padding-left: 10px;
}
a i.icon-twitter:hover,
a i.icon-facebook:hover {
  text-decoration: none;
  background: #005580;
}
.date-and-genres {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px #919191 solid;
  border-bottom: 1px #919191 solid;
}
.date-and-genres h4 {
  font-size: 16px;
}
 .genres a {
  color:  #4095b7;
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust:0.488; font-weight:600; font-style:normal; 
}
.date-and-genres a.tour-diary-link {
  color: #4D4E4D;
}
.genres {
  margin-top: 10px;
}
.black-block-links {
  margin-top: 20px;
}
.black-block-links a {
  width: 180px;
  color: white;
  background: black;

  margin-bottom: 10px;
}
.black-block-links a i {
  margin-right: 10px
}
#tour-tabs {
  padding: 0 5px;
  margin-bottom: 0;
  padding-bottom: 1px;
  border-bottom: none;
}
#tour-tabs li a {
  border: none;
}
#tour-tabs li.active a,
#tour-tabs li a:hover {
  border: none;
  background: #F6F6F2;
  border-bottom: 3px #b9c626 solid;
}
#about p:first-child {
  color: #565656;
  font-size: 16px;
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust:0.488; font-weight:600; font-style:normal; 
}
#comments.tab-pane .row .span9 .well {
  padding-left: 40px;
}

/*========== nav-strip ==========*/
#nav-strip {
  background: white;
}
#nav-strip .span2 .inner {
  background: white;
  height: 61px;
  padding: 18px 0 13px;
  margin-top: 10px;
  text-align: center;
}
#nav-strip .span2:hover .inner,
#nav-strip .span2 .inner.active {
  background: #f6f6f2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}
.nav-link {
  color: #4D4E4D;
  float: left;
  padding: 28px 25px 0;
  text-decoration: none;
  display: block;
  height: 70px;
}

.nav-link:hover {
  text-decoration: none;
}
#nav-strip a .nav-smallprint {
  font-size: 12px;
  line-height: 14px;
  margin: 2px 0 0;
  display: block;
  
}
#nav-strip a .header  {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
#nav-strip a:hover,
#nav-strip .active a,
#nav-strip a .header:hover,
#nav-strip a .header.active {
  background: #f6f6f2;
  color: #4D4E4D;
}

/*========== promoters / organisations ==========*/
h1.promoter {
  border-top: none;
}
.promoter.genres a.tag span.tag-label {
  margin-bottom: 4px;
  background: #4095B7;
  text-transform: uppercase;
}
.promoter-location,
a.promoter-location {
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust:0.488; font-weight:600; font-style:normal; 
  color: #4D4E4D;
  font-size: 16px;
}
a.promoter.venues {
  color: #4D4E4D;
  padding-bottom: 0;
}
#region {
  margin-bottom: 4px;
  background: #4095B7;
}
.promoter-diary-link,
.venue-diary-link {
  color: #4D4E4D;
}

/*========== groups ==========*/
.well.group h4 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 30px;
}

/*========== noticeboard/block view  ==========*/
.gallery_box {

}
.gallery-box-inner {
  padding: 10px;
  display: block;
  float: left;
  background: #fff;
}
.gallery-box-inner:hover {
  text-decoration: none;
  
    -webkit-box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2), 2px 3px 6px rgba(0, 0, 0, 0.1), 2px 3px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2), 2px 3px 6px rgba(0, 0, 0, 0.1), 2px 3px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2), 2px 3px 6px rgba(0, 0, 0, 0.1), 2px 3px 15px rgba(0, 0, 0, 0.1);  
}

/*========== messages  ==========*/
.messages-header {
  width: 668px;
  float: left;
  margin:  -15px 0 0px -15px;
  padding: 15px;

  
       -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    -webkit-border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    
    
    background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */


box-shadow:0px 1px 5px rgba(0,0,0,0.1), 0px 1px 0px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.3);


  
}
.ym_messages a {
  color: #4D4E4D;

}

.ym_messages li {
float: left;
clear: left;
margin: 0;
width: 100%;
}
.thread li {
  border-top: 1px solid #ccc;
  padding: 10px;
}

.show-all-threads {
	float: left;
	margin: 15px 0 16px;
	font-size: 16px;
}
.show-all-threads i {
  margin: 0 4px 0 0;
}
.show-all-threads:hover {
  background: none;
  text-decoration: none;
}
ym_messages span.small-info-text {
  float: left;
  clear: left;
}

.ym_messages li .badge {
  float: left;
  background: #bb2550;

}

span.small-info-text {
  margin-left:15px;
  
}

.message-count {
  float: left;
  width: 40px;
  height: 25px;
  margin: 3px 0 0;
}
.thread-link {
  font-size: 16px;
  float: left;
  width: 640px;
     padding: 15px;

  border-bottom: 1px solid #dbdcd6;


}
.thread-link:hover {
    background: #f5f5f5;
  text-decoration: none;
}
.ym_messages h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
.ym_messages li .thread-participants {
  font-size: 13px;
  line-height: 15px;
  margin: 5px 0 0 0px;
  float: left;
}
.thread-participant {
  margin: 0 15px 0 0;
  float: left;
}
.thread-participant img {
  float: left;
  margin: 0 5px 0 0 ;
}
.thread-participant-name {
  float: left;
}
.ym_messages li .message_user{
  width: 100%;
  font-size: 14px;
}
.ym_messages li .message_user a img {
  margin-right: 5px;
}
.ym_messages li .message_content p {
  font-size: 16px;
  color: #4D4E4D;
}
.ym_messages form,
#new-message.modal form {
  margin: 0 10px 0 0;
}
.ym_messages form .control-group,
#new-message.modal form .control-group {
  margin: 0;
}
.ym_messages form textarea,
#new-message.modal form textarea {
  width: 100%;
}

/*========== notifications  ==========*/
#notifications a {
  color: #4D4E4D;
}
#notifications li {
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dbdcd6;
}
#notifications img {
  margin-right: 5px;
}
