-@tours.each_slice(3) do |three_tours|
  .row
    -three_tours.each do |tour|
      .span3
        .show-tour.block
          =link_to show_path(tour) do
            =image_for(tour, "200x150#")
            %h2=truncate(tour.name, :length => 50, :separator => " ")
            -if tour.performer.name != tour.name
              %h3=truncate(tour.performer.name, :length => 50, :separator => " ")
            %p=tour.dates_string
            %p
              =truncate(tour.description, :length => 200, :separator => " ")
              =#link_to "read more...", tour_path(tour)
            .show-tags
              -tour.genres.first(2).each do |tag|
                -param_tags = original_tags.dup
                -param_tags << tag.name unless param_tags.delete(tag.name)
                =tag_link(tag.name, {:tags => param_tags, :start_date => @start_date,:end_date => @end_date }, "tag #{@tags.include?(tag.name.gsub(/-/, ' ')) ? 'active' : ''}")
          .clearfix