-month ||= ""; year ||= ""
.well
  %h2.mb-1 Filter by:
  .show-tags
    -@tags.each do |tag|
      -param_tags = original_tags.dup
      -param_tags.delete(tag)
      =tag_link(tag, {:tags => param_tags, :start_date => @start_date, :end_date => @end_date, :month => month, :year => year}, "tag active", true)

  .clearfix

  %h2.mb-1 Dates

  =form_tag 'shows', :method => "get", :class => "form-horizontal", :id => "show-date-filter"
  .control-group
    .controls
      .input-append
        =text_field_tag :start_date, @start_date, :class => " datepicker"
        %span.add-on#remove-start-date
          %i.icon-remove
    =label_tag :start_date, "From:", :class => "control-label"
  .control-group
    .controls
      .input-append
        =text_field_tag :end_date, @end_date, :class => "span2 datepicker"
        %span.add-on#remove-end-date
          %i.icon-remove
    =label_tag :end_date, "To:", :class => "control-label"


  %h2.mb-1 Genre

  .show-tags
    -@all_tags.each do |tag|
      -param_tags = original_tags.dup
      -param_tags << tag.name unless param_tags.delete(tag.name)
      
      =tag_link(tag.name, {:tags => param_tags, :start_date => @start_date,:end_date => @end_date, :month => month, :year => year, :tour_id => @tour_id, :organisation_id => @organisation_id}, "tag #{@tags.include?(tag.name.gsub(/-/, ' ')) ? 'active' : ''}")
      .clearfix