-month ||= ""; year ||= ""

.filter-sidebar
  .well
    %h2.mb-1 Filter by:     
    .show-tags{:id => "filter-top"}
      -@tags.each do |tag|
        -param_tags = original_tags.dup
        -param_tags.delete(tag)
        =tag_link(tag, {:tags => param_tags, :start_date => @start_date, :end_date => @end_date, :month => month, :year => year, :collection => @collection, :region => @region, :sort => @sort}, "tag active", true)
      =show_region_filter_link(:span, @region, true) if @region.present?
      =show_collection_filter_link(@collection, true) if @collection.present?
    =link_to "Clear all filters", shows_path, :class => "clear-all" if @region.present? || @collection.present? || params[:tags].present?
    .clearfix

  .well
    %h2.mb-1 Dates

    =form_tag 'shows', :method => "get", :class => "form-horizontal", :id => "show-date-filter" do
      .control-group
        .controls
          =label_tag :start_date, "From:", :class => "control-label"
          .input-append           
            =text_field_tag :start_date, @start_date, :class => "datepicker sidebar-calendar-from"
            %span.add-on.calendar-button-from
              %i.icon-calendar        
      .control-group{:id => 'show-date-to'}
        .controls
          =label_tag :end_date, "To:", :class => "control-label"
          .input-append
            =text_field_tag :end_date, @end_date, :class => "span2 datepicker sidebar-calendar-to"
            %span.add-on.calendar-button-to
              %i.icon-calendar        
    .clearfix      
  .well
    %h2.mb-1 Genre

    .show-tags.show-tags
      -@all_tags.each do |tag|
        -param_tags = original_tags.dup
        -param_tags << tag.name unless param_tags.delete(tag.name)
        
        =tag_link(tag.name, {:tags => param_tags, :start_date => @start_date,:end_date => @end_date, :month => month, :year => year, :tour_id => @tour_id, :organisation_id => @organisation_id, :venue_id => @venue_id, :collection => @collection, :region => @region, :sort => @sort, :q => @query}, "tag #{@tags.include?(tag.name.gsub(/-/, ' ')) ? 'active' : ''} #{tag.name}")
    .clearfix      

  .well
    %h2.mb-1 Collections
    %ul.unstyled.collection-list
      -Collection.all.each do |collection|
        =show_collection_filter_link(collection, false)

  .well
    %h2.mb-1 Location
    %ul.unstyled.location-list
      -Pan::REGIONS.values.sort.each do |region|
        =show_region_filter_link(:li, region, false)

  

  .well   
    =form_tag(shows_path, :method => :get, :id => 'show-sidebar-search') do
      =text_field_tag(:q, @query, :placeholder => "Enter your keyword")      
      %button.btn-primary{:id => 'show-sidebar-submit'}
        %i.icon-search
      =submit_tag("Submit", :class => 'btn hide')