-content_for :head do
  :javascript
    $(document).ready(function() {
      var base_url = "shows?#{{:tags => @tags.uniq}.to_query}"
      $('#start_date').change(function() {
        location.href = base_url + '&start_date=' + encodeURIComponent($(this).val()) + '&end_date=' + encodeURIComponent($('#end_date').val());
      });
      $('#end_date').change(function() {
        location.href = base_url + '&start_date=' + encodeURIComponent($('#start_date').val()) + '&end_date=' + encodeURIComponent($(this).val());
      });
      $('#remove-start-date').click(function() {
        location.href = base_url + '&start_date=&end_date=' + encodeURIComponent($('#end_date').val());
      });
      $('#remove-end-date').click(function() {
        location.href = base_url + '&start_date=' + encodeURIComponent($('#start_date').val()) + '&end_date=';
      });
    });

-original_tags = @tags || []

.row
  .span8
    %h1.mb-2.mt-2 Find shows
  .span1
    .mt-2
      =render "shows/toggle_view_links"

.row
  .span9
    -if @tours.size == 0
      %p.lead No shows with these filters!
    -elsif view_preference == 'block'
      =render "shows/block_view", :original_tags => original_tags
    -else
      =render "shows/list_view", :original_tags => original_tags

  .span3
    = render 'filter_sidebar', :original_tags => original_tags