-content_for :head do
  :javascript
    $(document).ready(function() {
      $('.dropdown-toggle').dropdown();
      var base_url = "shows?#{{:tags => @tags.uniq, :region => @region, :collection => @collection, :sort => @sort}.delete_if { |k, v| v.blank? }.to_query}"
      $('#start_date').change(function() {
        location.href = base_url + '&start_date=' + encodeURIComponent($(this).val()) + '&end_date=' + encodeURIComponent($('#end_date').val());
      });
      $('#end_date').change(function() {
        location.href = base_url + '&start_date=' + encodeURIComponent($('#start_date').val()) + '&end_date=' + encodeURIComponent($(this).val());
      });
      $('#remove-start-date').click(function() {
        location.href = base_url + '&start_date=&end_date=' + encodeURIComponent($('#end_date').val());
      });
      $('#remove-end-date').click(function() {
        location.href = base_url + '&start_date=' + encodeURIComponent($('#start_date').val()) + '&end_date=';
      });
    });

-original_tags = @tags || []

.row
  .span5
    %h1.mb-2.mt-2 Find shows
  .span4
    .mt-2
      .btn-group.pull-right#sort-shows-btn-group
        =link_to "#", :data => {:toggle => "dropdown"}, :class => 'btn dropdown-toggle', :id => "sort-shows-btn" do
          Sort by
        =link_to('#', :data => {:toggle => "dropdown"}, :class => 'btn dropdown-toggle') do
          %span.caret
        %ul.dropdown-menu.pull-right
          %li
            =link_to "/shows?sort=title" do
              Title
          %li.divider
          %li
            =link_to "/shows?sort=performer" do
              Performer
          %li.divider
          %li
            =link_to "/shows?sort=start-date" do
              Date available
          %li.divider
          %li
            =link_to "/shows?sort=date-added" do
              Date added
      =render "shows/toggle_view_links"

.row
  .span9
    -if @tours.size == 0
      %p.lead No shows with these filters!
    -elsif view_preference == 'block'
      =render "shows/block_view", :original_tags => original_tags
    -elsif view_preference == 'list'
      =render "shows/list_view", :original_tags => original_tags

  .span3
    = render 'filter_sidebar', :original_tags => original_tags