=semantic_form_for(@review, :url => performer_reviews_path(@performer)) do |form|
  =form.inputs do
    =form.input :title, :input_html => { :class => 'span6' }
    =form.input :description, :input_html => { :rows => 10, :class => 'span6' }
    =form.input :overall_rating, :collection => Review::RATING_OPTIONS.reverse, :as => :radio, :include_blank => false
    
  =form.buttons