-title "Reviews for #{@performer}"
%h1.mb-2
  Reviews for
  =link_to(@performer, performer_path(@performer))
.well.mt1
  %b.icon-info-sign
  Your first-hand experiences really help other promoters. 
  =link_to("Click to add your own review.", new_performer_review_path(@performer))
%table.table.table-striped
  %tbody
    -@reviews.each do |review|
      %tr
        %td.span3
          =image_for(review.user, "80x")
          %h4=link_to(review.user,user_path(review.user))
          -if review.user.promoter
            =review.user.promoter
            %br
          =pluralize(review.user.reviews.count, "review")
        %td
          %b
            =review.title
          %br
          %i
            Reviewed on
            =short_date(review.created_at)
          =simple_format(review.description)
          %b Ratings
          %p
            =rating_stars(review.overall_rating)
            Overall rating
            -if review.rural_rating
              %br
              =rating_stars(review.rural_rating)
              Understanding of rural touring
            -if review.small_venue_rating        
              %br
              =rating_stars(review.small_venue_rating) 
              Ability to produce for small, rural venues
            -if review.relationship_rating                 
              %br
              =rating_stars(review.relationship_rating)            
              Relationship with promoter
            -if review.support_rating                  
              %br
              =rating_stars(review.support_rating)            
              Over-all support to promoters
            -if review.value_rating 
              %br
              =rating_stars(review.value_rating)            
              Value for money
            -if review.marketing_rating
              %br
              =rating_stars(review.marketing_rating)            
              Marketing materials
            -if review.workshop_rating
              %br
              =rating_stars(review.workshop_rating)            
              Workshop delivery/appropriateness.
          
=options_panel do
  =back_link