%h1=title "Your review of #{@performer}"
.well.mt1
  %b.icon-info-sign
  Your first-hand experiences really help other promoters. Thanks!
  We are not expecting reviews that could be published.  However, your thoughts and feelings can really help others. We would ask that you do not make comments that are pointedly personal, and that are true to your experience. 
=render "form"