-if dates.count == 0
  There are no booked dates yet
-else  

  .span
    %table#diary
      %thead
      %tbody
        -dates.each do |date|
          %tr
            %td.date
              =date.date.to_s(:date)
            %td
              -if date.venue_id > 0
                =link_to_self date.venue, :class => "venue"
              -else
                .venue=date.external_venue_name              
            %td
              =link_to_self date.tour, :class => "venue"
            %td
              =format_time(date.time)
  .clearfix
