=semantic_form_for(promoter, :html => {:multipart => true}) do |form|
  =form.inputs do
    =form.input :name
    =form.input :description
    =form.input :retained_image, :as => :hidden
    =form.input :image, :as => :file
  =form.buttons do
    =form.commit_button "Save"