-if logged_in_as_admin_of_this_promoter?(promoter)
  %h1.mb1=title("Edit your organisation")
-else  
  %h1.mb1=title("Edit organisation")
-if can?(:destroy, promoter)
  .black-block-links
    =link_to promoter_path(promoter), :method => :delete, :confirm => "Are you sure?", :class => "btn delete-button delete-organisation pull-right mt-3" do
      %i.icon-trash
      Delete Organisation
      -if can?(:edit,promoter)  
        =link_to new_promoter_venue_path(promoter), :class => "btn add-venue pull-right mt-3" do
          %i.icon-plus
          Add Venue
      -if can?(:edit,promoter)  
        =link_to new_promoter_user_path(promoter), :class => "btn add-individual pull-right mt-3" do
          %i.icon-plus
          Add Individual
=render('form')