.row
  -if promoters.empty?
    .span12    
      %p There are no promoters yet.
  -else
    .span12.mb-1
      %h1.pull-left=title("Promoter individuals")
    .span12
      %table.table
        %tbody
          -promoters.joins(:users).group('promoters.id').each do |promoter|
            %tr
              %td
                =image_for(promoter, "50x50#", :class => "pull-left mr-1")
                %h4.directory-item.pull-left=link_to_self(promoter)
              %td
                %table.table.table-bordered
                  %tbody
                    -promoter.users.order("role='promoter_admin' DESC").each do |user|
                      %tr
                        %td.span8
                          =link_to_self(user, :target => "_blank")
                          -if user.promoter_admin?
                            %span.label Admin
                          .pull-right
                            -if user.promoter_admin?
                              =link_to(update_role_user_path(user, :role => 'promoter_staff'), :method => :put, :confirm => "Are you sure?", :class => "btn") do
                                %i.icon.icon-minus
                                Undo admin
                            -else
                              =link_to(update_role_user_path(user, :role => 'promoter_admin'), :method => :put, :confirm => "Are you sure? This will notify #{user} via email.", :class => "btn") do
                                %i.icon.icon-plus
                                Make admin                            
                            -if can?(:destroy, user)
                              =link_to(user_path(user, :return_to => individuals_promoters_path), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger") do
                                %i.icon.icon-trash
                                Delete user
.row
  .span12
    =options_panel do
      =back_link