-if promoter.venues.with_lat_lng.present?
  =google_maps_javascript_include_tag
  =content_for :head do
    :javascript
      $(document).ready(function() {
        VenuesMap.venues = #{promoter.venues.with_lat_lng.to_json(:only => [:id, :name, :lat, :lng], :methods => [:infowindow_image_url, :short_description])};
        $('#promoter-map').on('shown', function () {
          VenuesMap.init();
        });
      });

=content_for :head do
  :javascript
    function scrollToCommentInput() {
      YmCore.scrollTo($('#new_post'));
    }
    $(document).ready(function() {
      $('#go-to-comment').click(function(event) {
        event.preventDefault();
        $('#tour-tabs a[href="#comments"]').tab('show');
        window.setTimeout(scrollToCommentInput, 200);
      });
    });
.row
  .span12
    %h1.promoter
      %i.icon-group
      =promoter.name
.row
  .span3
    .row.profile-left-col
      .well
        =promoter.image.present? ? image_for(promoter, "220x150#") : image_tag("placeholder-organisation.jpg")
        .mb-1
        -if promoter.venues.with_lat_lng.present?
          =link_to "#promoter-map", :'data-toggle' => "modal", :class => "promoter-location" do
            %i.icon-map-marker
            =promoter.city.presence || promoter.name
        -else
          .promoter-location
            %i.icon-map-marker
            =promoter.city.presence || promoter.name
        %br
        =link_to "#", :class => "tag", :id => "region" do
          %span.label.tag-label=promoter.region
        .clearfix

        -if promoter.venues.present?
          .promoter.venues
            -promoter.venues.each do |venue|
              =link_to venue do
                %i.icon-home
                =venue
                %br
        -if promoter.users.present?
          .promoter.users
            -promoter.users.each do |user|
              =link_to user do
                %i.icon-user
                =user
        -if promoter.genres.present?
          .promoter.genres
            =render "tags/horizontal_list", :tags => promoter.genres
        .clearfix        
          %ul.unstyled.links              
            %li.website-link
              / =debug promoter  
              =link_to(promoter.website_url.gsub(/\/.*/, ''), "http://" + promoter.website_url, :target => '_blank') if promoter.website_url
            %li                
              =link_to(content_tag(:i, "", :class => "icon-facebook"), promoter.facebook_url, :target => '_blank') if promoter.facebook_url
              =link_to(content_tag(:i, "", :class => "icon-twitter"), promoter.twitter_url) if promoter.twitter_url
              =link_to(content_tag(:i, "", :class => "icon-youtube"), promoter.youtube_url, :target => '_blank') if promoter.youtube_url                      
        .black-block-links
          =link_to new_promoter_message_path(promoter), :class => "btn" do
            %i.icon-envelope
            Send a message
          -unless current_user.try(:performer_id)
            =link_to "", :class => "btn", :id => "go-to-comment" do
              %i.icon-pencil
              Post a comment
          -if can?(:edit,promoter)
            =link_to edit_promoter_path(promoter), {:class => "btn"} do
              %i.icon-edit
              Edit Organisation                

  .span9
    %ul.nav.nav-tabs#tour-tabs
      %li.active
        =link_to  "About", "#about", :'data-toggle' => 'tab'
      %li
        =link_to "Media", "#media", :'data-toggle' => 'tab'
      %li
        =link_to "Diary", "#diary", :'data-toggle' => 'tab'        
      %li
        =link_to "Updates", "#updates", :'data-toggle' => 'tab'
      -unless current_user.try(:performer_id)
        %li
          =link_to "Comments", "#comments", :'data-toggle' => 'tab'
    .tab-content
      #about.tab-pane.fade.in.active
        .well
          =simple_format(promoter.description)

      #media.tab-pane.fade.in
        .well
          -if promoter.slideshow.present? 
            =render("organisations/slideshow", :slideshow => promoter.slideshow)
            .clearfix
          -else
            No media present
            
            
      #diary.tab-pane.fade.in
        .row
          .span9
            .well
              =render("diary", :dates => @dates)
                          
      
      #updates.tab-pane.fade.in
        .row
          .span9
            .well
            
      #comments.tab-pane.fade.in
        .row
          .span9
            .well
              .row
                .span8
                  -if can?(:create, Post)
                    =render("posts/remote_form", :post => current_user.posts.build(:target => promoter))
                  =render("posts/posts", :posts => promoter.posts.page(params[:page]))     
          
      -#   
        -if !promoter.venues.with_lat_lng.empty?
          .span3.mt-2
            #map-canvas{:style => "height:220px;width:100%"}
        .span3.mt-2
          %h4 Region
          %p=promoter.region
        -if promoter.any_present?(:address, :phone, :email)
          .span3.mt-2
            %h4 Contact details
            %ul.unstyled
              -if promoter.address(:country=>false).present?
                %li
                  =promoter
                  =render_address(promoter)
              -elsif logged_in_as_admin_of_this_promoter?(promoter)
                No contact details entered yet.  
                =link_to("Click to update", edit_promoter_path(promoter) + "#contact_info", :class=>'action-link')
              -else
                No contact details entered yet.  
              -if promoter.phone.present?
                %li
                  Tel:
                  =internationalize_phone_number(promoter.phone)
              -if promoter.email.present?
                %li
                  Email:
                  =link_to promoter.email, "mailto:#{promoter.email}"
        -if !promoter.links.empty?
          .span3.mt-2
            %h4 Links
            %ul.unstyled.links
              -promoter.links.each do |link|
                %li
                  =image_tag(link.favicon)
                  =link_to(link, link.url, :target => '_blank')

-#  
  .span6
    %h1.mb-1.profile-title=title(promoter)
  -if false  
    .span2
      =link_to('&uarr; All promoters'.html_safe, promoters_path, :class => "back-to-all")
    
  .span6=render('organisations/notes', :organisation => promoter)
  .span5
    -if promoter.slideshow    
      %ul.nav.nav-tabs
        %li.active
          =link_to("Profile", "#profile", :data => {:toggle => "tab"})
        %li
          =link_to("Photo gallery", "#gallery", :data => {:toggle => "tab"})
    .tab-content
      #profile.tab-pane.fade.in.active
    
        -if promoter.description.present?
          =simple_format(promoter.description)
        -else
          No description has been entered yet.
          -if logged_in_as_admin_of_this_promoter?(promoter)
            %br
            =link_to("Click to update", edit_promoter_path(promoter))
                    
        .row.mt-2
          .span9
            %h4 Venues
            -if promoter.venues.empty?
              This organinisation has no venues.
              %br
              =link_if_can "Add one", [:new, promoter, :venue]
            -else
              %ul.unstyled
                -promoter.venues.each do |venue|
                  %li
                    =venue
                    =link_to 'View', venue, :class=>'action-link'
        .row.mt-2
          .span9
            %h4 People that work here
          
            .row.mt-1
              -if promoter.users.empty?
                .span8
                  =promoter
                  doesn't have any individuals yet.
                  =link_if_can "Add one", [:new, promoter, :user]
              -else
                -promoter.users.each do |user|
                  .span2
                    =link_to image_for(user,"120x120#"), user
                    %h5=link_to_self user
                    %p=user.job_title
        .row.mt-2
          .span9
            .row
              -if promoter.any_present?(:genre_list, :art_form_list)
                .span4
                  .row
                    -if !promoter.genre_list.empty?
                      .span2
                        %h4 Genres
                        =list_tags(promoter, :genres)
                    -if !promoter.art_form_list.empty?
                      .span2
                        %h4 Art forms                    
                        =list_tags(promoter, :art_forms)
              -if promoter.any_present?(:genre_interest_list, :art_form_interest_list)
                .span4
                  %h3.mb-1 Interested in
                  .row
                    -if !promoter.genre_interest_list.empty?
                      .span2
                        %h4 Genres
                        =list_tags(promoter, :genre_interests)
                    -if !promoter.art_form_interest_list.empty?
                      .span2
                        %h4 Art forms 
                        =list_tags(promoter, :art_form_interests)
            -if promoter.any_present?(:funder_list, :audience_list)
              .row.mt-2
                -if promoter.funder_list.present?
                  .span4
                    %h3.mb-1 Funding sources
                    =list_tags(promoter, :funders)
                -if promoter.audience_list.present?
                  .span4
                    %h3.mb-1 Who we promote to
                    =list_tags(promoter, :audiences)
        -if promoter.resources_present?
          .row.mt-2
            .span9
              %h3.mb-1 List of resources
              .row
                -if promoter.marketing_resource_list.present?
                  .span3
                    %h4 Promotions/marketing
                    =list_tags(promoter, :marketing_resources)
                -if promoter.pr_resource_list.present?
                  .span3
                    %h4 PR
                    =list_tags(promoter, :pr_resources)
                -if promoter.equipment_list.present?
                  .span3
                    %h4 Equipment
                    =list_tags(promoter, :equipment)
                -if promoter.hireable_resource_list.present?
                  .span3
                    %h4.mb-1 Hireable skills
                    =list_tags(promoter, :hireable_resources)
        -if promoter.skills_present?
          .row.mt-2
            .span9
              %h3.mb-1 Skills matrix
              .row
                -if promoter.skill_list.present?
                  .span3
                    %h4 Main skills
                    =list_tags(promoter, :skills)
                -if promoter.skills_needed_list.present?
                  .span3
                    %h4 Support needed
                    =list_tags(promoter, :skills_needed)
                -if promoter.skills_need_training_list.present?
                  .span3
                    %h4 Training needed
                    =list_tags(promoter, :skills_need_training)
                -if promoter.skills_underused_list.present?
                  .span3
                    %h4.mb-1 Underused skills
                    =list_tags(promoter, :skills_underused)
                -if promoter.skills_offered_list.present?
                  .span3
                    %h4.mb-1 Shareable skills
                    =list_tags(promoter, :skills_offered)
          
        -if (media_posts = promoter.posts.where("image_uid LIKE '%'").limit(8)).present?
          .row.mt-2
            .span9
              %h4 Photos/videos
              .row.mt-1
                -media_posts.each do |media_post|
                  .span1.mb-1
                    =link_to("#", :data => {:toggle => "modal", :backdrop => false, :"modal-url" => modal_post_path(media_post), :"modal-id" => "post_modal"}) do
                      =image_for(media_post, '60x60#', :class => "#{media_post.has_video? ? 'video-image' : ''}")
        =render("organisations/facebook_twitter", :organisation => promoter)
        -if posts.present? || can?(:create, Post)
          .row.mt-2
            .span9
              #wall
                %h4.mb-1 Posting wall
                -if can?(:create, Post)
                  =render("posts/remote_form", :post => current_user.posts.build(:target => promoter))
                =render("posts/posts", :posts => posts)
      -if promoter.slideshow
        #gallery.tab-pane.fade
          .span9
            =render("organisations/slideshow", :slideshow => promoter.slideshow)

  .span3.well
    -if logged_in_as_admin_of_this_promoter?(promoter)
      =render("helpboxes/promoter_admin")
    -elsif logged_in_as_promoter?(promoter)
      =render("helpboxes/promoter_member")
    -elsif logged_in_as_site_admin?
      =render("helpboxes/promoter_site_admin")
    -else
      =render("helpboxes/promoter_viewing")
      

-if promoter.venues.with_lat_lng.present?
  #promoter-map.modal.hide.fade
    .modal-header
      %button.close{:type => 'button', :'data-dismiss' => 'modal'} x
      %h3=promoter.name
    .modal-body
      .span4
      #map-canvas{:style => "height:220px;width:530px"}
    .modal-footer
      =link_to("Close", "#", :class => "btn btn-primary", :'data-dismiss' => 'modal')

    
.row.mt-2
  .span9
    =options_panel do
      =link_to "#{content_tag(:i, nil, :class => 'icon-arrow-left')}Back".html_safe, :back, :class => "btn black-block-links"