-if !promoter.venues.with_lat_lng.empty?
  =google_maps_javascript_include_tag
  =content_for :head do
    :javascript
      $(document).ready(function() {
        VenuesMap.venues = #{promoter.venues.with_lat_lng.to_json(:only => [:id, :name, :lat, :lng], :methods => [:infowindow_image_url, :short_description])};
        VenuesMap.init();
      });
.row.mb-2
  .span12
    =render("community/nav")
.row
  .span3
    .row.profile-left-col
      .span3
        =image_for(promoter, "220x") if promoter.image
      -if !promoter.venues.with_lat_lng.empty?
        .span3.mt-2
          #map-canvas{:style => "height:220px;width:100%"}
      .span3.mt-2
        %h4 Region
        %p=promoter.region
      -if promoter.any_present?(:address, :phone, :email)
        .span3.mt-2
          %h4 Contact details
          %ul.unstyled
            -if promoter.address(:country=>false).present?
              %li
                =promoter
                =render_address(promoter)
            -elsif logged_in_as_admin_of_this_promoter?(promoter)
              =link_to("Click to update", edit_promoter_path(promoter) + "#contact_info")
            -else
              No contact details entered yet.  
            -if promoter.phone.present?
              %li
                Tel:
                =internationalize_phone_number(promoter.phone)
            -if promoter.email.present?
              %li
                Email:
                =link_to promoter.email, "mailto:#{promoter.email}"
      -if !promoter.links.empty?
        .span3.mt-2
          %h4 Links
          %ul.unstyled.links
            -promoter.links.each do |link|
              %li
                =image_tag(link.favicon)
                =link_to(link, link.url, :target => '_blank')

    
  .span6
    %h1.mb-1=title(promoter)
  -if false  
    .span2
      =link_to('&uarr; All promoters'.html_safe, promoters_path, :class => "back-to-all")
    
  .span6=render('organisations/notes', :organisation => promoter)
  .span5
    -if promoter.slideshow    
      %ul.nav.nav-tabs
        %li.active
          =link_to("Profile", "#profile", :data => {:toggle => "tab"})
        %li
          =link_to("Photo gallery", "#gallery", :data => {:toggle => "tab"})
    .tab-content
      #profile.tab-pane.fade.in.active
    
        =simple_format(promoter.description)
        .row.mt-2
          .span9
            %h4.mb-1 Venues
            -if promoter.venues.empty?
              =promoter
              doesn't have any venues yet.
              =link_if_can "Add one", [:new, promoter, :venue]
            -else
              %ul.unstyled
                -promoter.venues.each do |venue|
                  %li
                    =venue
                    =link_to 'View', venue
        .row.mt-2
          .span9
            %h4 People that work here
          
            .row.mt-1
              -if promoter.users.empty?
                .span8
                  =promoter
                  doesn't have any individuals yet.
                  =link_if_can "Add one", [:new, promoter, :user]
              -else
                -promoter.users.each do |user|
                  .span2
                    =link_to image_for(user,"120x120#"), user
                    %h5=link_to_self user
                    %p=user.job_title
        .row.mt-2
          .span9
            .row
              -if promoter.any_present?(:genre_list, :art_form_list)
                .span4
                  .row
                    -if !promoter.genre_list.empty?
                      .span2
                        %h4 Genres
                        =list_tags(promoter, :genres)
                    -if !promoter.art_form_list.empty?
                      .span2
                        %h4 Art forms                    
                        =list_tags(promoter, :art_forms)
              -if promoter.any_present?(:genre_interest_list, :art_form_interest_list)
                .span4
                  %h3.mb-1 Interested in
                  .row
                    -if !promoter.genre_interest_list.empty?
                      .span2
                        %h4 Genres
                        =list_tags(promoter, :genre_interests)
                    -if !promoter.art_form_interest_list.empty?
                      .span2
                        %h4 Art forms 
                        =list_tags(promoter, :art_form_interests)
            -if promoter.any_present?(:funder_list, :audience_list)
              .row.mt-2
                -if promoter.funder_list.present?
                  .span4
                    %h3.mb-1 Funding sources
                    =list_tags(promoter, :funders)
                -if promoter.audience_list.present?
                  .span4
                    %h3.mb-1 Who we promote to
                    =list_tags(promoter, :audiences)
        -if promoter.resources_present?
          .row.mt-2
            .span9
              %h3.mb-1 List of resources
              .row
                -if promoter.marketing_resource_list.present?
                  .span3
                    %h4 Promotions/marketing
                    =list_tags(promoter, :marketing_resources)
                -if promoter.pr_resource_list.present?
                  .span3
                    %h4 PR
                    =list_tags(promoter, :pr_resources)
                -if promoter.equipment_list.present?
                  .span3
                    %h4 Equipment
                    =list_tags(promoter, :equipment)
                -if promoter.hireable_resource_list.present?
                  .span3
                    %h4.mb-1 Hireable skills
                    =list_tags(promoter, :hireable_resources)
        -if promoter.skills_present?
          .row.mt-2
            .span9
              %h3.mb-1 Skills matrix
              .row
                -if promoter.skill_list.present?
                  .span3
                    %h4 Main skills
                    =list_tags(promoter, :skills)
                -if promoter.skills_needed_list.present?
                  .span3
                    %h4 Support needed
                    =list_tags(promoter, :skills_needed)
                -if promoter.skills_need_training_list.present?
                  .span3
                    %h4 Training needed
                    =list_tags(promoter, :skills_need_training)
                -if promoter.skills_underused_list.present?
                  .span3
                    %h4.mb-1 Underused skills
                    =list_tags(promoter, :skills_underused)
                -if promoter.skills_offered_list.present?
                  .span3
                    %h4.mb-1 Shareable skills
                    =list_tags(promoter, :skills_offered)
          
        -if (media_posts = promoter.posts.where("image_uid LIKE '%'").limit(8)).present?
          .row.mt-2
            .span9
              %h4 Photos/videos
              .row.mt-1
                -media_posts.each do |media_post|
                  .span1.mb-1
                    =link_to("#", :data => {:toggle => "modal", :backdrop => false, :"modal-url" => modal_post_path(media_post), :"modal-id" => "post_modal"}) do
                      =image_for(media_post, '60x60#', :class => "#{media_post.has_video? ? 'video-image' : ''}")
        =render("organisations/facebook_twitter", :organisation => promoter)
        -if posts.present? || can?(:create, Post)
          .row.mt-2
            .span9
              #wall
                %h4.mb-1 Posting wall
                -if can?(:create, Post)
                  =render("posts/remote_form", :post => current_user.posts.build(:target => promoter))
                =render("posts/posts", :posts => posts)
      -if promoter.slideshow
        #gallery.tab-pane.fade
          .span9
            =render("organisations/slideshow", :slideshow => promoter.slideshow)

  .span3.well
    -if logged_in_as_admin_of_this_promoter?(promoter)
      =render("helpboxes/promoter_admin")
    -elsif logged_in_as_promoter?(promoter)
      =render("helpboxes/promoter_member")
    -elsif logged_in_as_site_admin?
      =render("helpboxes/promoter_site_admin")
    -else
      =render("helpboxes/promoter_viewing")
    
.row.mt-2
  .span9
    =options_panel do
      =back_link
      =link_if_can("Edit promoter", [:edit, promoter])
      =link_if_can("Delete promoter", [:destroy, promoter], :confirm => "Are you sure?")
      -if can?(:create, promoter.venues.build)
        =link_to("Add venue", new_promoter_venue_path(promoter))
      -if can?(:create, promoter.users.build)
        =link_to("Add individual", new_promoter_user_path(promoter))
    -if params[:modal] == "welcome" && logged_in_as_promoter?(promoter)
      =render("welcome_modal", :promoter => promoter)