=link_to item, :class=>"news-feed-image" do
  =item.user.image.present? ? image_for(item.user, '70x70#') : image_tag('placeholder-individual.jpg')
.news-feed-text  
  %p
    =link_to_self item.user
    -if item.is_update
      added an update about
    -else
      added a comment about
  %h3
    -if item.target_type == "Tour"      
      =link_to item.target.name, tour_path(item.target.id, :anchor => (item.is_update ? 'updates' : 'comments'))
    -elsif item.target_type == "Performer"
      =link_to item.target.name, performer_path(item.target.id, :anchor => (item.is_update ? 'updates' : 'comments')) 
    -else
      =link_to_self item.target