=link_to item, :class=>"news-feed-image" do
  =image_for(item, '70x70#')
.news-feed-text  
  %p
    -if item.performer.present?
      =link_to_self item.performer
      added a new show.
    -else
      A new show was added
  %h3
    =link_to_self item