=link_to item, :class=>"news-feed-image" do
  =item.image.present? ? image_for(item, '70x70#') : image_tag('placeholder-show.jpg')
.news-feed-text  
  %p
    -if item.performer.present?
      =link_to_self item.performer
      added a new show.
    -else
      A new show was added
  %h3
    =link_to_self item