=form.inputs(:class => "mt-2") do
  =form.input :name, :label => "Your name"
  =form.input :telephone,  :label => "Telephone number"
  =form.input :email, :label => "Email address"
  =form.input :message, :label => "What is your your interest in promoting or performing?", :as => :text, :input_html => {:class => "span8", :rows => 10}