=form.inputs do
  =form.input :first_name
  =form.input :last_name
  =form.input :promoter_name, :label => "Organisation name"
  =form.input :promoter_region, :label => "Region", :as => :select, :collection => Pan::REGIONS
  =form.input :email, :label => "Email address"
  =form.input :phone, :label => "Telephone number"