-params[:id] ||= params[:enquiry][:form_name]

%h1.mb-2=title(@enquiry.form_title)
-if @enquiry.form_intro.present?
  %p.well.help-text
    %i.icon-info-sign
    =@enquiry.form_intro
=render("form", :enquiry => @enquiry)