.container
  .row
    .span12
      %footer.footer
        =link_to_slug('About', 'about-tourbook', :class => 'subnav_link')
        =link_to_slug('contact', :class => 'subnav_link')
        =link_to("Sitemap", pages_path, :class => "subnav_link")