.container
.footer-wrapper
  .container
    .row
      .span12
        %footer.footer
          %ul.unstyled.footer-links
            %li
              =link_to_slug("Terms of use",  :terms)
            %li
              =link_to "Feedback", "/beta"
            %li
              =link_to_slug("Community Standards", :community_standards)
            %li
              =link_to_slug("Noticeboard",  :noticeboard)
            %li
              =link_to_slug('About Tourbook', 'about-tourbook', :class => '')
            %li
              =link_to_slug :help do
                %i.icon-question-sign
                Help
