.container
.footer-wrapper
  .container
    .row
      .span12
        %footer.footer
          %ul.unstyled.footer-links
            %li
              =link_to "Terms of use", "#"
            %li
              =link_to "Feedback", "#"
            %li
              =link_to "Terms of use", "#"
            %li
              =link_to "Community Standards", "#"
            %li
              =link_to "Noticeboard", "#"
            %li
              =link_to("Sitemap", pages_path, :class => "")
            %li
              =link_to_slug('About Tourbook', 'about-tourbook', :class => '')
            %li
              =link_to "#" do
                %i.icon-question-sign
                Help
