#beta-bar
  This website is a work in progress. 
  =link_to_slug('Click here to read more about the beta.', :beta)
  
.container#header
  .row#header_row
    .span4
      .row
        .span3
          %h1#site_logo
            %span
              =Settings.site_name
        .span3
          =link_to_slug('About', 'about-tourbook', :class => 'subnav_link')
          =link_to_slug('contact', :class => 'subnav_link')
          =link_to("Sitemap", pages_path, :class => "subnav_link")
    .span8
      #nav.main-nav
        %ul.unstyled
          =li_with_active(current_page?(root_path), link_to("Home", root_path))
          -if can?(:index, Performer)
            =li_with_active(controller_name=='performers', link_to("Performers", performers_path))
          -else
            =li_with_active(slug_is?('for-artists'), link_to_slug('Performers', 'for-performers'))
          -if can?(:read, Post)
            =li_with_active(viewing_community?, link_to("Community", community_path))
          -else
            =li_with_active(slug_is?('about-community'), link_to_slug('Community', 'about-community'))
      #header_links
        -if user_signed_in?
          .btn-group
            =link_to(current_user.performer || current_user, :class => 'btn') do
              %icon.icon-user
              =current_user.performer || current_user
            =link_to('#', :data => {:toggle => "dropdown"}, :class => 'btn dropdown-toggle') do
              %span.caret
            %ul.dropdown-menu.pull-right
              -if current_user.promoter
                %li
                  =link_to(current_user.promoter) do
                    %icon.icon-flag
                    =current_user.promoter
                %li.divider                    
              -elsif current_user.admin?
                %li
                  =link_to(performers_path) do
                    %icon.icon-music
                    Performers
                %li
                  =link_to(promoters_path) do
                    %icon.icon-flag
                    Promoters
                %li
                  =link_to(venues_path) do
                    %icon.icon-map-marker
                    Venues
                %li
                  =link_to(directory_users_path(:letter => 'A')) do
                    %icon.icon-user
                    Users
                %li.divider
                %li
                  =link_to(tags_path) do
                    %icon.icon-tags
                    Manage tags
                %li.divider
              %li
                =link_to(edit_user_path(current_user)) do
                  %icon.icon-cog
                  My account
              %li
                =link_to(sign_out_path, :method => :delete) do
                  %icon.icon-signout
                  =t(:logout)
        -else
          =link_to "Register", new_registration_path, :class => "header_link btn"
          =link_to(sign_in_path(:next => request.path == '/' ? nil : request.path), :class => "header_link btn btn-primary") do
            %icon.icon-signin
            =t(:login)