.container#header
  .row#header_row
    .span3
      .row
        .span3
          %h1#site_logo
            %span
              =Settings.site_name
      .row
        .span3
          =link_to_slug('About', 'about-tourbook', :class => 'header_link')
          =link_to_slug('contact', :class => 'header_link')
    .span9
      .row
        .span6
          #nav.nav
            %ul.unstyled
              %li=link_to("Home", root_path)
              %li=link_to("Companies", "#")
              %li=link_to("Community", "#")
        .span3
          #header_links
            -if user_signed_in?
              =link_to_self(current_user, :class => "header_link")
              =link_to(t(:logout), sign_out_path, :method => :delete, :class=>"header_link", :id=>"login_link")
              =link_to("Sitemap", pages_path, :class => "header_link")
            -else
              =link_to "Register", new_user_path, :class => "header_link"
              =link_to(t(:login), sign_in_path(:next => request.path), :class=>"header_link", :id=>"login_link")