.container
#nav-strip
  .container
    .row
      .span12        
        =content_tag_with_active(:div, current_page?(root_path), :class => "inner") do
          =link_to root_path, :class=>"nav-link nav-link-home" do
            .header
              %i.icon-home
              Home
            %span.nav-smallprint    
              view your profile
              %br
              and latest updates
        =content_tag_with_active(:div, (current_page?(shows_path) || controller_name.tours?) , :class => "inner") do
          =link_to shows_path, :class=>"nav-link nav-link-shows"  do
            .header
              %i.icon-star
              Shows
            %span.nav-smallprint      
              browse or search 
              %br
              available tours
        =content_tag_with_active(:div, current_page?(diary_path), :class => "inner") do
          =link_to diary_path, :class=>"nav-link nav-link-diary"  do
            .header
              %i.icon-calendar
              Diary
            %span.nav-smallprint      
              see what's on
              %br
              across the network
              
        =content_tag_with_active(:div, (controller_name.groups? || controller_name.posts?), :class => "inner") do
          =link_to groups_path, :class=>"nav-link nav-link-groups"  do
            .header
              %i.icon-comment
              Groups
            %span.nav-smallprint      
              talk to other promoters
              %br
              and share your skills
        =content_tag_with_active(:div, controller_name.resources?, :class => "inner") do
          =link_to resources_path, :class=>"nav-link nav-link-resources"  do
            .header
              %i.icon-book
              Resources
            %span.nav-smallprint      
              find help and information
        =content_tag_with_active(:div, (controller_name.performers? || controller_name.venues? || controller_name.directory?), :class => "inner") do
          =link_to directory_path, :class=>"nav-link nav-link-directory"  do
            .header
              %i.icon-list-ul
              Directory
            %span.nav-smallprint
              search promoters, venues,
              %br
              performers and shows