!!!5
%html
  %head
    %title
      =Settings.site_name
      ="- #{@page_title}" if @page_title.present?
    =stylesheet_link_tag("application", "http://f.fontdeck.com/s/css/GzquBrtA5R1IjOjZ9KPx8cFffVQ/localhost/25297.css", "http://f.fontdeck.com/s/css/GzquBrtA5R1IjOjZ9KPx8cFffVQ/www.pan.yoomee.com/25297.css", "http://f.fontdeck.com/s/css/GzquBrtA5R1IjOjZ9KPx8cFffVQ/pan.yoomee.com/25297.css")
    =javascript_include_tag("application")
    =csrf_meta_tags
    =yield :head
    =google_analytics_js
  -body_tag do
    .main-wrapper
      -if flash.present?
        =yield_with_bootstrap(render_flash)
      -unless current_page?(sign_in_path)
        =render("layouts/header")
        -unless current_page?(root_path)
          =render("layouts/nav_strip")
      =yield_with_bootstrap(yield)
      .push
    .footer-wrapper
      =render("layouts/footer")